.metaRenderer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  .lettersContainer{
    width: 100%;

    .groupWrapper{
      width: 100%;
      .groupWrapperHeader{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 48px;

        .letter{
          height: 100%;
          padding:  8px 1rem;
          font-size: 2rem; // Roughly equivalent to Tailwind's 'text-2xl'
          color: var(--primary-text-color); // Assuming you have this variable defined in your SCSS
        }
      }

      .items{
        display: flex;

        flex-wrap: wrap;
        width: 100%;
        gap: .5rem;
        .metaWidgetItem{
          height: 48px;
          min-width: 48px;
          max-width: 16rem;
          //display: block;
          display: flex;

          align-items: center;
          list-style-type: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-radius: 0.25rem;
          color: var(--primary-text-color);
          cursor: pointer;
          word-wrap: break-word;
          //background-color: var(--secondary-background-color);
          background-color: var(--quaternary-background-color);
          box-sizing: border-box;

        }
        .view-all{
          height: 48px;
          min-width: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-active-color,#f90);
        }
      }


    }
  }
}


@media (min-width: 768px) {
  .metaRenderer{
    .lettersContainer{
      columns: 16rem;
      margin: auto;
      padding: 0;

      .groupWrapper{
        .items{
          gap: .1rem;
          .metaWidgetItem{
            //background-color: var(--primary-background-color);
            //padding: 0.25rem;
            //min-height: 1rem;
          }

        }

      }
    }
  }
}