.metaRenderer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  .lettersContainer{
    width: 100%;

    .groupWrapper{
      width: 100%;
      .groupWrapperHeader{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 48px;

        .letter{
          height: 100%;
          padding:  8px 1rem;
          font-size: 2rem; // Roughly equivalent to Tailwind's 'text-2xl'
          color: var(--secondary-text-color,#b3b3b3); // Assuming you have this variable defined in your SCSS
        }
      }

      .items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: .5rem;
        .metaWidgetItem{
          max-width: 16rem; // Equivalent to Tailwind's 'max-w-64'
          display: block;
          list-style-type: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0.75rem 0.375rem;
          min-height: 3rem; // Equivalent to Tailwind's 'min-h-12'
          border-radius: 0.25rem; // Equivalent to Tailwind's 'rounded'
          color: var(--secondary-text-color,#b3b3b3);
          cursor: pointer;
          word-wrap: break-word;
          background-color: var(--secondary-background-color,#181818);
          &:before {
            content: "#";
          }
        }
        .view-all{
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-active-color,#f90);
        }
      }


    }
  }
}


@media (min-width: 768px) {
  .metaRenderer{
    .lettersContainer{
      columns: 16rem;
      margin: auto;
      padding: 0;

      .groupWrapper{
        .items{
          gap: .1rem;
          .metaWidgetItem{
            background-color: var(--primary-background,#000);
            padding: 0.25rem;
            min-height: 1rem;
          }

        }

      }
    }
  }
}