@import "../../../../styles/buttons";
.asset-page-bulk-action-asset-type-selector{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .asset-page-bulk-action-drop-down{
    .asset-page-bulk-action-drop-down-btn{
      @include AdminLightBtn;
    }
  }
}