@import "../../../../styles/grid";
@import "../../../../styles/colors";
.asset-page-table-header{
  padding: 10px;
  background-color: $light100;
  margin: 5px 0 0 0;
  border: .2px solid rgba(0,0,0,.1);
  font-size: 13px;
  @include assetTable;
  .asset-page-table-header-item{
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}