@import "../../../../styles/buttons";

.admin-widgets-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  #widget-setting {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sidePanel{
      width: 100%;
      .AddWidgetMenu{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 5px;
        .AddWidgetWithPositionMenu{
          //justify-self: stretch;
          //width: 200px;
          position: relative;
          //margin: auto;
          .positionsOpener{
            justify-self: stretch;
            width: 100%;
            background-color: var(--admin-darkcolor70);
            color: var(--admin-text-color);
            border :none;
            padding: 5px 10px;
          }
          .AddWidgetWithPositionMenuPositions{
           // position: absolute;
            z-index: 1;
            background-color: var(--admin-darkcolor70);
            //width: 200px;
            display: grid;
            grid-template-columns: 1fr;
            .AddWidgetWithPositionMenuPositionsBtn{
              padding: 2px ;
            }
          }
        }
      }
    }

    .saveBtn {
      @include greenActionBtn;
    }
    .widgets {
      margin: 20px 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 10px;
      .widgetAdminPanelItem {
        background-color: transparent;
        width: 100%;
        position: initial;
        margin: 0;
        .widgetAdminPanelItemHeader {
          height:50px ;
          margin: 0;
          background-color: $dark100;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: large;
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  .admin-widgets-page{
    #widget-setting {
      //display: flex;
      //flex-direction: row;
      //justify-content: flex-start;
      //flex-wrap: wrap;
      h2{
        justify-self: end;
        width: 98%;
      }
      .widgets {
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        .widgetAdminPanelItem {
          position: relative;
          .widgetAdminPanelItemHeader {

          }
        }
      }
    }
  }


}