.widget-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border-radius: 5px 5px 0 0;
  max-height: 30px;
  color: var(--primary-text-color, #fff);
  //background-color: var(--secondary-background-color, #000);
  padding: .25rem;
  margin-bottom: 10px;
  box-sizing: border-box;

  .widget-header-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .widget-header-redirect-link {
    font-weight: bold;
  }
}