.widgetHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background-color, #fff);
  height: 50px;
  box-sizing: border-box;
  width: 100%;

  .widgetHeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color, #fff);
    box-sizing: border-box;
    padding: 8px;
    width: 100%;

    .widget-header-title {
      font-weight: bold;
    }

    .widget-header-redirect-link {
      font-weight: bold;
    }
  }
}