.authenticationLoggedIn{
  .user-info {
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--primary-text-color, #fff);
      width: 100%;

      .user-profile-image {
        margin: 10px 0;
      }

      .username-info {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        .username {
          font-size: 18px;
          font-weight: bold;
        }

        .view-profile {
          font-size: 0.75em;
        }
      }
    }

  }
}