.contact-form{
  margin: 30px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  width: 90vw;
  border-radius: 12px;
  padding: 10px;

  .contact-form-item{
    width: 100%;
    input,textarea{
      width: 95%;
      margin: auto;
    }
    textarea{
      min-height: 300px;
    }
    p{
      color: white;
    }
  }

}


@media only screen and (min-width: 1024px) {
  .contact-form{
   width: 60vw;
  }
}

@media only screen and (min-width: 1920px) {
  .contact-form{
   width: 1024px;
  }
}