@import "../../../styles/colors";
@import "../../../styles/mixIns";
@import "../../../styles/buttons";

.meta-page-item {
  background-color: $dark90;
  margin: 10px auto;
  .meta-page-item-image-parent {
    .meta-page-item-image {
      position: relative;
    }
  }

  .meta-item-data {
    width: 90%;
    margin: auto;
    color: $light100;
  }

  @include imageForMetaElements;

  @media only screen and (max-width: 768px) {
    .meta-page-item-image-parent {

      .meta-page-item-image {
        height: auto;
      }
    }
  }

}

