@import "../../../styles/colors";
@import "../../../styles/mixIns";
@import "../../../styles/buttons";

.meta-page-item {
  background-color: $dark90;
  width: 90vw;
  height: auto;
  margin: auto;
  .meta-page-item-image-parent {
    width: 100%;
    height: auto;

    .meta-page-item-image {
      //position: relative;
      width: 100%;
      height: auto;
      border: $dark90 1px solid  ;
      //display: block;
      //object-fit: cover;
    }
  }

  .meta-item-data {
    width: 100%;
    height: auto;
    //margin: auto;
    color: $light100;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .meta-page-item {
    margin: 10px auto;
    width: 320px;
    .meta-page-item-image-parent {
      width: 320px;
      .meta-page-item-image {
        width: 320px;
        position: relative;
        height: 180px;
        border: $dark90 1px solid  ;
        display: block;
        object-fit: cover;
      }
    }

    .meta-item-data {
      width: 320px;
      margin: auto;
      color: $light100;
    }





  }
}