.download-url{
  width: 50px;
  a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-logo-medium{
      color: var(--main-text-color);
      width: 100%;
    }
  }
}
