.topbar-widget-area, .header-widget-area, .navigation-widget-area, .footer-widget-area {

  color: var(--primary-text-color, #FFFFFF);
  width: 100%;
  padding: 8px;

  .innerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.topbar-widget-area, .navigation-widget-area {
  background-color: var(--secondary-background-color, #181818);
  height: 3.5rem;
}


.header-widget-area {
  display: flex;
  align-items: center;
  justify-content: center;

  .innerContent {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}


.main-widget-area {
  background-color: var(--primary-background-color, #2B2B2B);
  color: var(--primary-text-color, #fff);
  width: 100%;
  box-sizing: border-box;
}

.footer-widget-area {
  .innerContent {
    display: flex;
    flex-direction: column;
  }
}