.top-bar,.navigation,.header,.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.top-bar{
  grid-area: top-bar;
}
.navigation{
  grid-area: navigation;
}
.header{
  grid-area: header;

}
.footer{
  grid-area: footer;
}
.main{
  grid-area: main;
  min-height: 100vh;
  //grid-gap: 2px;
}
.sidebar{
  grid-area: sidebar;
  //grid-gap: 2px;
}


.top-bar,.navigation{
  min-height: 48px;
  //height: auto;
}

@media only screen and (min-width: 768px) {
  .top-bar,.navigation{
    height: 48px;
  }

}