.logo{
  .logoLink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .logoImage{
      filter: drop-shadow(3px 3px 3px black);
      max-width: 300px;
    }

    .logoText, .logo-headline {
      color: var(--primary-text-color,#fff);
    }

    .logoText {
      font-weight: bold;
    }

    .logoHeadline {
      margin: 5px 0 0 0;
    }
  }
}