.media-widget {
  .media-element {
    width: 100vw;
    margin: 10px 0;
  }
}

.media-widget-video-iframe {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.30%;
  margin-bottom: 20px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 !important;
    border-radius: 10px;
  }
}


.description-top >.widgetText{
  font-size: 17px;
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .media-widget {
    .media-element {
      width: 100%;
    }
  }
}