@import "../../../../styles/colors";

.my-profile-info{

  .my-profile-fields{
    display: flex;
    flex-direction: column;
    .profile-edit-input{

    }
    .profile-info-label{
      color:$light100 ;
    }
  }

}