@import "../../../../styles/colors";

.topBarSettings{
  .topBarSettingsSection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .topBarSettingsSectionInput{
      background-color: $light100;

    }
  }
}