.imageItem{
  position: relative;
  cursor: move;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;

  img {
    max-width: 100px;
    max-height: 100px;
  }
  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    opacity: 80%;
    font-weight: bold;
    cursor: pointer;
  }
}