/node_modules
/.next
/.next/*
.next

/trash
/trash/*

/public/uploads
/public/locales/*/customTranslation.json
/public/jsons/widgets/*
/public/jsons/widgets
/public/jsons/settings/*
/public/jsons/settings

/static/uploads
/static/uploads/
/static/uploads/*



/tempFiles/*
_devUtil/generateFakeData.js
tools/testAPI.js
/package-lock.json
.package-lock.json
/_devUtil/generateFakeData.js
.generateFakeData.js
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
/static/jsons/staticData.json
/static/jsons/staticWidgets.json