/node_modules
/.next
/.next/*
.next
/static/uploads
/trash
/trash/*
/public/uploads
/public/locales/*/customTranslation.json
/static/uploads/
/static/uploads/*
/temp.js
/temp.html
/temp.scss
/temp.css
generateFakeData.js
tools/testAPI.js
/package-lock.json
.package-lock.json
/generateFakeData.js
.generateFakeData.js
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
/static/jsons/staticData.json
/static/jsons/staticWidgets.json