/apps/**/node_modules
/apps/**/.next
/apps/**/dist
/apps/**/.turbo
/apps/**/.vscode
/apps/**/.idea
/apps/**/%SystemDrive%


/packages/**/dist
/packages/**/.turbo
/packages/**/node_modules

.package-lock.json
npm-list.txt
node_modules

apps/api-server/public/*

trash/uploads
apps/web-application/locales/*/customTranslation.json
apps/web-application/public/*.xml
apps/web-application/public/favicon.ico
apps/web-application/public/robots.txt
ssl/**

static

packages/_devUtil/generateFakeData.js
apps/api-server/tools/testAPI.js
/packages/_devUtil/generateFakeData.js

.idea
.vscode
.turbo
.generateFakeData.js
.env.local
.env.development.local
.env.test.local
.env.production.local
.prettierrc
*.env
custom-server-config.json
package-lock.json

/tempFiles
/trash
/additionalTools

/apps/web-application/tailwind-default.config.js