@import "../../../../styles/colors";
@import "../../../../styles/inputs";
@import "../../../../styles/buttons";
.TextInputWithUploadBtn{
  width: 95%;
  background-color: $light100;
  padding: 10px ;
  .editor{
    display: flex;
    width: 100%;
    .textInputWithUpload{
      @include inputNormalWithRadius;
      background-color: $AdminBackground50;
      width: 90%;
    }
    .uploadBtn {
      @include AdminLightBtn;
      margin: 0 3px;
      border-radius: 5px;
    }
  }
}