@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.NewItemMenu {
  position: fixed;
  top: 40px;
  background-color: $AdminColor80;
  width: 150px;
  padding: 10px;
  z-index: 17;

  a {
    color: $light100;

  }
}