@import "../../../../styles/colors";
@import "../../../../styles/buttons";

.DropDownWidget,.admin-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px;
  .DropDownWidgetHead {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #eee !important;
    background-color: $light100;
    .DropDownWidgetHeadTitle {

    }

    .DropDownWidgetHeadOpenCloseBtn {
      @include transparentLightTextBtn;
      color: black;


      .fontawesomeMedium {
        font-size: large;
        height: 10px;
      }

    }
  }

}

.DropDownWidgetComponent,.admin-widget{
  padding:10px;
  width: 100%;

  //display: flex;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: flex-start;
  display: grid;
  background-color: $light100;

  button{
    @include AdminLightBtn;

  }
  //*{
  //  margin: 5px 0;
  //}
}


.admin-widget{
  width: 90%;
}