.alert-box{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  .close-alert{
    position: fixed;
    top:5%;
    right: 5%;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: xx-large;
  }

  .alert-message{
    color: white;
    width: 300px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    .alert{
      text-align: center;
    }
  }
}