.card-quality{
  position: absolute;
  top: 2px;
  right: 2px;
  overflow: hidden;
  padding: 1px 2px;
  color: var(--secondary-text-color,#b3b3b3);
  background-color: var(--secondary-background-color,#2B2B2B);
  border-radius: 0.25rem;
}