.menu-widget{
  z-index: 10;

  .menu-widget-open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .menu-widget-items {
    background-color: var(--secondary-background-color, #181818);
    top: 0;
    left: 0;
    bottom: 0;
    width: 85%;
    z-index: 1000;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0 0 0;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    transition: all 0.5s ease 0s;
    position: fixed;
    overflow-y: auto;

    .menu-widget-close-button {
      position: absolute;
      top: 16px;
      right: 25px;
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      color: var(--primary-text-color,#fff);
      padding: 6px;
    }

  }
}

.menu-widget-open{
  .menu-widget-items{
    animation: navigationMobileSlide .2s linear alternate ;
    display: flex;
  }
}

.menu-widget-closed{
  .menu-widget-items{
    animation: none ;
    display: none;
  }
}

@media only screen and (min-width: 768px) {

  .menu-widget{
    width: 100%;

    .menu-widget-open-button {
      display: none;
    }

    .menu-widget-items {
      width: 100%;
      position: initial;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      margin: auto;
      padding: 0;
      transition: none;
      background-color: transparent;
      gap: initial;
      .menu-widget-close-button {
        display: none;
      }
    }
  }
}