.cardViews{
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--secondary-text-color,#b3b3b3);
  padding:  0;

  .view-icon{
    width: 1rem;
    height: 1rem;
  }
}

@media only screen and (min-width: 600px){
  .cardViews{
    padding: 1px 0;
  }
}