.meta-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .meta-widget-item {

    padding: 4px 5px;
    margin: 2px 5px ;
    border-radius: 5px;


  }
}