.meta-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .meta-child-element {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 2px 5px;
    padding: 4px 5px;
    .meta-data-logo{
      width: 20px;
      height: 20px;
    }
    a{
      margin: 0 5px;
    }
  }
}