.meta-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;

  .meta-child-element {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 40px;
    width: 118px;
    .meta-widget-item{
      height: 100%;
      width: 100%;
      margin: 0 2px;
      display: flex;
      align-items: center;
      .meta-name{
        max-width:95px;
        font-size: .8rem;
        margin-left: 2px;
        overflow:hidden;
        display:inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .meta-data-logo{
        width: 20px;
        height: 20px;
      }
    }
  }
}