@import "../../../styles/colors";
@import "../../../styles/links";

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
  a {
  @include paginationItem;
  }
  .active-page{
    background-color: #2c5115;
  }
}