.rating-buttons{
  padding: 12px 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;

  .rated-message {
    color: var(--secondary-text-color, #ccc);
  }

  .rating-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    color: var(--secondary-text-color, #ccc);
    outline: none;
    border: none;




    .rating-item-value {
      padding: 0 5px;
      margin-top: 5px;
      font-size: small;
    }
  }

  .rating-item-value:disabled {
    color: #33373c;
  }

  .rating-item-value:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
  @media only screen and (min-width: 768px) {
    .rating-item{
      flex-direction: row;

      .rating-item-value {
        margin: 0 5px;
        font-size: small;
        padding: 0;
      }
    }
  }
}