.productInformationImagesPreview{
  display: flex;
  .product-information-image-preview {
    .image-remove-btn {
      border-radius: 50%;
      border: white .2px solid;
      width: 30px;
      height: 30px;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
      }
      &:hover {
        transform: scale(1.1);
        transition: .5s;
      }
    }
    &:hover {
      transform: scale(1.3);
      transition: .5s;
      z-index: 10;
    }
  }
}