@import "../../../styles/colors";
.progressParent{
  position: relative;
  height: 15px;
  border: 1px solid #333;
  .progressChild{
    height: 100%;
    position: absolute;
    background-color: $red50;
    //color: white;
    font-size: x-small;
    display: flex;
    align-items: center;
  }
}