@use '@components/global/styles/cardsLayout' as cardsLayout;

.cardsWrapper {
  @include cardsLayout.MixinCardWrapper;
}

.actorsCardsWrapper {
  @include cardsLayout.MixinActorCardWrapper;
}

.staticCardsWrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: inherit;
}
