.metaCard{
  width: 100%;
  height: 100%;
  //max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .cardInfo {
    height: 48px;
    padding-top: .25rem;
    box-sizing: border-box;
  }
}



.metaCardSidebar{
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: var(--primary-border);

  .cardInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .cardTitle{
      width:100%;
      padding: 0 4px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


@media only screen and (min-width: 768px){
  .metaCard{
    .cardInfo {
      height: 33px;
      padding-top: .25rem;
      box-sizing: border-box;
    }
  }
}