.post-card {
  width: 100%;
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .card-info {
    //height: 66px;
    height: 33px;
    padding-top: .25rem;
    box-sizing: border-box;

    .card-info-stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2px;
      padding: 0 2px;

    }
  }
}


.postCardSidebar {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      width: 100%;
      padding: 0 4px;
      box-sizing: border-box;
    }

    .card-info-stats {

    }
  }
}
