@import "../../../styles/colors";
@import "../../../styles/buttons";
@import "../../../styles/grid";

.adminDesign {
  .colorsContent {
    @include adminDesignPageItems;
    .adminDesignSection {
      border-radius: 10px;
      .adminDesignSectionItems {
        .adminDesignSectionItem {
          padding: 20px;
          border-radius: 10px;
          background-color: $dark80;
          color: $light100;
          margin: 5px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: center;
          height: 100%;
          .adminDesignSectionItemTitle {
            font-size: small;
          }
          .previewColor {
            height: 30px;
            width: 30px;
            margin: 5px;
            border: .3px solid white;
          }
          input {
            margin: 5px;
          }
        }

      }
    }
  }

  .submitBtn {
    @include greenActionBtn;
  }
}


.customStyle{
  textarea{
    width: 90%;
    min-height: 300px;
    background-color: $light100;
    font-weight: bold;
  }
  .submitBtn {
    @include greenActionBtn;
  }
}