@import "../../../styles/colors";
@import "../../../styles/mixIns";
.tag-item{
  border-radius: 5px;
  min-height: 40px;
  min-width: 100px;
  border: $dark90 1px solid  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $light100;
  @include imageForMetaElements;
  .tag-item-data{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    p{
      //font-size: x-large;
      text-align: center;
    }
  }
}