@import "../../../../../styles/colors";
@import "../../../../../styles/buttons";
.adminCommentsItem {
 padding: 5px;
  transition: .3s;
  &:nth-child(even) {
    background-color: $AdminColor20;
  }

  .adminCommentsItemHead {
    display: flex;
    align-items: center;

    p {
      margin: 0 20px;
    }
  }
  .adminCommentsItemBody{

    .commentControl{
      button{
        @include buttonLikeLink;
      }
    }
  }
}