#chatroomMessageArea{
  grid-area: chatroomMessagingArea;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--main-background-color, #000);
  padding-bottom: 50px;

}

//.chatroomMessageAreaMaximized{
//  grid-area: chatroomMessagingArea;
//  margin: 0;
//  width: 100%;
//  overflow-y: scroll;
//  box-sizing: border-box;
//  background-color: var(--main-background-color, #000);
//}