.chatroomMessage{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: break-word;


  .chatroomMessageLog{
    color: var(--primary-text-color,#fff);
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px;
  }


  .userProfileImage{
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 7px;
  }

  .chatroomMessageData {
    background-color: var(--secondary-background-color, #181818);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    width: clamp(160px , 300px, 100%);
    max-width: 100%;


    .chatroomMessageUsername {
      display: flex;
      justify-content: space-between;
      color: var(--primary-text-color,#fff);
      font-size: small;
    }

    .chatroomMessageContent{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .chatroomMessageText {
        color: var(--primary-text-color,#fff);
        margin: 10px 20px;
        word-wrap: break-word;
        max-width: calc(100% - 30px);
      }

      .chatroomMessageImage {
        margin: auto;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }



  }

  @media only screen and (min-width: 768px) {
    max-width: calc(100vw - 180px);
    .chatroomMessageData {
      .chatroomMessageImage{
        max-width: 400px;
        height: auto;
      }
    }
  }
}