.auth-buttons{
  .logged-in-items , .logged-out-items{
    display: flex;
    align-items: center;
   .logged-in-item,.logged-out-item{

     svg{
       margin: 0 5px;
       color: black;
     }

    }
  }
}