.TitleDescription{
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;

  .primaryInput {
    box-sizing: border-box;
  }

  .text-editors {
    background-color: var(--primary-background-color, #000);
    color: var(--secondary-text-color, #ccc);

    .text-editors-content {
      .quill {
        .ql-container {
          width: 100%;
          height: 80vh;
          color: var(--secondary-text-color, #ccc);
          background-color: var(--primary-background-color, #000);
        }
      }

      .sun-editor {
        height: 95%;

        .se-container {
          .se-wrapper {
            height: 100%;

            .se-wrapper-inner {
              color: var(--secondary-text-color, #ccc);
              background-color: var(--primary-background-color, #000);
            }
          }
        }
      }
    }
  }
}