.userPreference {
  position: relative;


  .openPreferenceMenuButton {
    position: relative;
    border:none;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    outline: none;

    .gearIcon {
      color: var(--primary-text-color);
      width: 24px;
      height: 24px;
    }

    .earthIcon {
      color: var(--secondary-text-color);
      position: absolute;
      width: 18px;
      height: 18px;
      right: .5rem;
      top: .5rem;
    }
  }

  .preferenceMenu {
    width: 150px;
    position: absolute;
    top: 100%;
    //background-color: var(--tertiary-background-color);
    color: var(--secondary-text-color);
    z-index: 11;
    padding: .25rem .5rem;
    box-sizing: border-box;
    border-radius: 0.375rem;
    .preferenceMenuItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 48px;
      .preferenceMenuItemTitle{
        display: flex;
        justify-content: flex-start;
        gap: 2px;
        align-items: center;
        color: var(--primary-text-color);
        svg{
          width: 20px;
          height: 20px;
        }
      }
      .languagesSwitcherWidget{

        .languagesSwitcherWidgetActiveLanguage{
          button{
            padding: 0;
          }
        }
      }
    }
  }

  .preferenceMenuOpened{
    display: initial;
  }

  .preferenceMenuClosed{
    display: none;
  }


}