#site-settings-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .site-settings-form-section{
    input{
      background-color: white;
      margin: 10px;
    }
    textarea{
      background-color: white;
      margin: 10px;
      width: 90%;
    }
    .items{
      display: flex;
      flex-wrap: wrap;

      .item{
        display: flex;
        align-items: center;
        margin: 10px;
        button{
          margin: 5px;
        }
      }
    }
  }

}