@import "../../../styles/colors";
@import "../../../styles/buttons";
@import "../../../styles/grid";

#settings {
  display: flex;
  flex-direction: column;

  a {
    @include greenActionBtn;
  }
}

#site-settings-form {
  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;

  background-color: $light100;
  padding: 20px;
  .forms{
    //@include settings-general;
  }
  button {
    @include AdminLightBtn;
    margin: 20px;
  }

  .submitBtn {
    @include greenActionBtn
  }

  .keywords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .site-settings-form-section-parent{
    @include settings-general;
    .site-settings-form-section {
      background-color: $AdminColor80;
      border-radius: 10px;
      color: $light100;
      padding: 10px;
      input {
        background-color: $light100;
        margin: 10px;
        border: 1px solid $AdminColor80;
      }

      textarea {
        background-color: white;
        margin: 10px;
        width: 90%;
        border: 1px solid $AdminColor80;
      }

      .items {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          align-items: center;
          margin: 10px;

          button {
            margin: 5px;
          }
        }
      }
    }
  }
}





