.image-swiper{
  position: relative;
  max-width: 100%;
  //width: 600px;
  .swiper-wrapper{
    width: 600px;
    //display: flex;
    //justify-content: center;
    .swiper-slide{

      img{
         width:  100%;
          height: 56.49%;
      }
    }
  }
}