.image-swiper{
  position: relative;
  max-width: 100vw;
  .swiper-wrapper{
    display: flex;
    align-items: center;
    //justify-content: center;
    .swiper-slide{
      img{
         width:  100%;
          height: 56.49%;
      }
    }
  }
}

