.image-swiper{
  //position: relative;
  //max-width: 100vw;
  .swiper-wrapper{
    //display: flex;
    //align-items: center;
    //justify-content: center;
    .swiper-slide{
      margin: auto;
      display: flex;
      justify-content: center;

      a{
        .image {
          //object-fit: contain;

        }
        .image-slider-item-internal-image {
          //object-fit: cover;

        }
        div {
          margin: auto;
          width: 100%;
          .image-slider-item-internal-image {
            margin: auto;
           // object-fit: scale-down;
          }
        }
      }
    }
  }
}

