.imageSlider{
  position: relative;

  .slider-parent {
    overflow: hidden;

    &:before {
      display: none;
      content: '{"draggable": true}';
    }

    .slider-container {
      display: flex;

      .slide {
        position: relative;
        flex: 0 0 100%;
        margin: 5px;
        width: 96vw;
        img{
          width: 100%;
        }
      }
    }
  }


  .prev-btn, .next-btn {
    position: absolute;
    top: 40%;
    z-index: 1;
    background-color: transparent;
    border: none;

    svg {
      width: 40px;
      height: 40px;
      fill: var(--primary-active-color, #f90);
    }
  }


  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }

  .slider-pagination-items {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;

    .slider-pagination-item {
      background-color: transparent;
      cursor: pointer;
      position: relative;
      padding: 0;
      outline: 0;
      border: 0;
      width: 20px;
      height: 20px;
      margin-right: 7.5px;
      margin-left: 7.5px;
      display: flex;
      align-items: center;
      opacity: .5;

      &:after {
        background-color: var(--primary-active-color, #f90);
        width: 100%;
        height: 4px;
        border-radius: 2px;
        content: "";
      }
    }

    .is-selected {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  @media only screen and (min-width: 768px) {
    .slider-parent {

      .slider-container {
        display: flex;

        .slide {
          position: relative;

          flex: 0 0 300px;
          img{
            width: 100%;
          }
        }
      }

    }

  }

}