.cardRating {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--secondary-text-color, #b3b3b3);
  padding: 0;
  justify-self: end;

  .rating-icon {
    width: .9rem;
    height: .9rem;
  }
}

@media only screen and (min-width: 600px) {
  .cardRating {
    padding: 1px 0;
  }
}