.EditSubMenuForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 90%;
  background-color: black;
  padding: 5px;

  .formId {
    font-size: small;
  }

  .menu-widget-form-form-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}