@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.post-info {
  width: 100%;
  //padding: 10px;
  .edit-mode{
    align-items: center;
    p{
      color: $light100;
    }
    input{
      width: 300px
    }
    textarea{
      width: 100%;
      height: 200px;
    }
  }

  .share {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    //grid-gap: 10px;
  }

  .edit-btn-admin {
    @include greenActionBtn;
  }
  .post-info-head{
    background-color: $dark90;
    padding: 5px;
    .like {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        @include transparentLightTextBtn;
        margin: 0 10px;
        &:disabled {
          color: $AdminColor80;
        }
      }
    }

    h1 {
      font-size: 1.25em;
      text-align: center;
    }
    .under-title{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .rate-logo{
        width: 30px ;
        height: 35px;
        transition: .5s;
        &:hover{
          width: 35px ;
          height: 40px;
        }
      }
      .price-information{
        margin: 0 20px;
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        .price-info-logo{
          width: 23px;
          height: 23px;
        }
      }
    }

  }

  .post-info-body {
    .views {
      .post-rate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        .like-disLike-count {
          display: flex;
          align-items: center;
          .like-disLike-count-items {
            margin: 0 10px;
            display: flex;
            align-items: center;
            color: white;
            p {
              margin: 0 5px;
            }
            .like-disLike-count-items-logo{
              width: 20px;
              height: 25px;
            }
          }
        }
      }
      .progressParent {
        max-width: 100%;

        div {
          transition: width 0.3s ease-in-out;
        }
      }


    }

    .meta-description {
      color: white;
      .tags-categories-actors {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0;
        padding: 5px 0;

        span {
          display: flex;

          span {
            margin: 0 5px;
          }
        }

        .content {
          display: flex;
          flex-wrap: wrap;
          .post-meta-item {
            background-color: $red50;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 30px;
            margin: 5px;
            a {
              color: white;
              display: initial;
              margin-left: 5px;
            }
          }
        }

      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-info {
    .post-info-head {
      .like {
        justify-content: start;
      }
    }

    .post-info-body {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 20px;

      .views {
        .progressParent {
          //max-width: 150px;
        }
      }

      .meta-description {
        .tags-categories-actors {
          display: flex;
          align-items: center;
        }
      }

    }

  }
}