.post-info {
  .post-info-body {
    .views {
    .post-rate{
      color: white;
      .like-disLike-count{
        .like-disLike-count-items{
          color: white;
        }
      }
    }
    }
    .meta-description{
      color: white;
    }
  }
}