@import "../../../styles/colors";
@import "../../../styles/buttons";

.TopBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark90;
  padding: 5px 10px;
  height: 30px;
  font-size: 14px;
  a,p {
    text-decoration: none;

    padding: 3px ;
    margin: 0 10px;
    @include transparentLightTextBtn;
    transition: .3s;
    font-size: 14px;
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
    &:active{
      transform: scale(1);
    }

  }


}