@import "../../../styles/colors";
@import "../../../styles/buttons";

.TopBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark90;
  padding: 5px 10px;
  height: 30px;

  a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
  }

  button{
    @include transparentLightTextBtn;
    transition: .3s;
    &:hover{
      transform: scale(1.2);
    }
    &:active{
      transform: scale(1);
    }
  }
}