.profilePostsNavigation{
  color:var(--primary-active-color,#f90);
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .profilePostsNavigationItems{

  }
}