.backupPage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  .export-type-container {
    border: 1px solid;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 350px;


    .action-buttons, .fields {
      margin: 20px 0;
      display: flex;
      align-items: center;

      flex-wrap: wrap;

      button {
        margin: 0 20px;
      }
    }

    .fields {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 4px;
      }
    }

    .limit-field {
      display: flex;
      align-items: center;

      .limit {
        width: 100px;
        margin: 0 8px;
      }
    }

  }
}