#console {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .console-panel{
    background-color: #222;
    padding: 5px 5px 5px 5px ;
    border-radius: 10px;

    .console-header{
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      button{
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    textarea,.result{
      width: 90vw;
      max-width: 1024px;
      height: 80vh;
      color: white;
      background-color: black;

    }
    form{
      width: 90vw;
      max-width: 1024px;
      input{
        width: 90vw;
        max-width: 1024px;
        color: white;
        background-color: black;
      }
    }
  }
}