#cookiePopupWrapper{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1005;
  background-color:var(--secondary-background-color,#fff);
  color: var(--secondary-text-color,#fff);
  height: 40px;
  gap: 10px;
  p{
    text-align: center;
  }
}