.youtubeImporter{
  .admin-import-page-youtube {
    display: flex;
    flex-direction: column;

    textarea {
      background-color: white;
      min-width: 50vw;
      min-height: 300px;
    }
  }

  .admin-import-page-youtube-api-key {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #33373c;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;

    input {
      background-color: white;
      width: 100%;
    }
  }
}