.learn-post-description{
  color: var(--secondary-text-color, #b3b3b3);
  margin: 0 5px;
  padding: 50px 0;
  width: 100%;
  max-width: 98vw;
  @media only screen and (min-width: 768px) {
    max-width: 1300px;
    .crayons-article__body{
      max-width: 100%;
      .js-code-highlight{
      }
    }
  }
}