.asset-page-table-body-item-section {
  overflow-wrap: break-word;

  img {
    width: 100%;
  }

  .asset-page-item-array-section {
    display: flex;
    flex-wrap: wrap;

    .asset-page-item-array-section-item {
      margin: 5px;
      font-size: small;
    }
  }
}