@import "../../../styles/colors";
@import "../../../styles/mixIns";

.category-item {
  border-radius: 5px;
  //min-height: 200px;
  min-width: 250px;
  border: $dark90 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items:  space-between;
  @include imageForMetaElements;

  color: $light100;

  .category-item-data {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    p {
      //font-size: x-large;
      text-align: center;
    }
  }

}