@import "../../../../styles/buttons";
@import "../../../../styles/selects";

.ActionOnPost {
  width: 100%;
  background-color: $light100;


  .ActionOnPostItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .saveDraftBtn, .previewBtn {
      @include AdminLightBtn;
      border-radius: 5px;
      &:active{
        background-color: white;
        color: $AdminColor100;
      }
    }
    select{
      @include AdminSelect;
      margin: 10px 0;
    }
    .SaveBtn {
      @include AdminBluetBtn;
      padding: 5px 15px;
      border-radius: 5px;
      box-shadow: 0 1px 0 #006799;
      &:active{
        background-color: white;
        color: $AdminColor100;
      }
    }
  }


}