.editPostPageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //background-color: var(--secondary-background-color, #181818);
  color: var(--primary-text-color, #fff);
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  .editPostForm {
    width: 100%;

    .formSection {
      width: 100%;
      .descriptionHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .mainFields {
      .description {
        min-height: 400px;
      }
    }

    .sidebarField {

    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    //grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    gap: 1rem;
    //place-items: center;
    button {
      font-size: .8rem;
      display: flex;
      align-items: center;
      gap: 4px;
      //width: 50%;
    }
  }
}

@media only screen and (min-width: 768px){
  .editPostPageContent {
    .editPostForm {
      max-width: 1323px;
      display: grid;
      grid-template-columns: 1fr 325px;
      grid-gap: 8px;
    }
  }


}