.editPostPageContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: var(--secondary-background-color, #181818);
  color: var(--primary-text-color, #fff);
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  .editPostForm{
    width: 100%;
    max-width: 650px;
    .formSection {
      width: 100%;
    }
  }


  .imageUploader {

  }

  .description {
    min-height: 90px;
  }

  .actionButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .submitButton {
      //width: 100%;
      max-width: 320px;
    }
  }

}