.actor-card {
  width: 100%;
  //max-width: 150px;
  max-width: 45vw;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;

  .card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    background-color: var(--quaternary-background-color);
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    z-index: 1;
    text-shadow: var(--primary-text-shodow);

    .cardTitle {

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .actor-card-link {
    box-shadow: 0 0 1rem -0.1rem var(--primary-background-color, #000);
    position: relative;

    .card-image-wrapper {
      img {
        border-radius: 0.5rem;

      }
    }

    .actorCardCounts {
      position: absolute;
      bottom: .25rem;
      right: .25rem;
      color: var(--primary-text-color);
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .actor-card {
    max-width: 250px;

    .card-info {
      //height: 50%;
    }
  }
}

//.actorCardSidebar{
//  display: grid;
//  grid-template-columns: 30% 70%;
//
//  .card-info {
//    width: 100%;
//    height: 100%;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    .card-title{
//      width:100%;
//      padding: 0 4px;
//      box-sizing: border-box;
//    }
//  }
//}

//@media only screen and (min-width: 600px) {
//  .actorCardSidebar{
//    display: grid;
//    grid-template-columns: 30% 70%;
//
//    .card-info {
//      width: 100%;
//      height: 100%;
//      display: flex;
//      flex-direction: column;
//      justify-content: center;
//      .card-title{
//        width:100%;
//        padding: 0 4px;
//        box-sizing: border-box;
//      }
//    }
//  }
//}

