.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'adminTopBar adminTopBar' 'adminContent adminContent'; }

.Admin {
  grid-area: adminContent;
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  min-height: 100vh;
  float: left;
  -webkit-font-smoothing: subpixel-antialiased; }

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'adminTopBar adminTopBar' 'adminSideBar adminContent'; } }

.blurArea {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white; }

.svgImage {
  fill: white !important;
  background-color: white;
  color: white; }

.fontawesomeMedium {
  font-size: x-large; }

.adminTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  height: 30px;
  background-color: #24282d;
  grid-area: adminTopBar; }
  .adminTopBar .adminTopBarItem {
    background-color: transparent;
    color: white;
    outline: none;
    border: none; }

@media only screen and (min-width: 768px) {
  .adminSideBarMobileBtn {
    display: none; } }

.AdminActionMenu {
  background-color: #33373c;
  position: fixed;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .AdminActionMenu .AdminActionMenuItem {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 10px; }

.SideBar {
  position: fixed;
  left: 0;
  top: 40px;
  grid-area: adminSideBar;
  min-height: 100vh;
  width: 200px;
  background-color: #24282d;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .SideBar .SideBarItem {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 5px 10px;
    transition: .5s;
    font-size: large;
    margin: 5px; }
    .SideBar .SideBarItem:hover {
      background-color: #f1f1f1;
      color: #24282d;
      font-weight: bold; }
    .SideBar .SideBarItem:active {
      background-color: yellow; }

@media only screen and (min-width: 768px) {
  .SideBar {
    position: initial; } }

.TitleDescription {
  padding: 10px;
  width: 100%; }
  .TitleDescription .TitleDescriptionTitle {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 3px 5px;
    width: 200px;
    height: 30px;
    width: 95%; }
  .TitleDescription .TitleDescriptionDescription {
    margin-top: 10px;
    min-height: 600px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 3px 5px;
    width: 200px;
    height: 30px;
    width: 95%; }

.DropDownWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px; }
  .DropDownWidget .DropDownWidgetHead {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #eee !important;
    background-color: white; }
    .DropDownWidget .DropDownWidgetHead .DropDownWidgetHeadOpenCloseBtn {
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      color: black; }
      .DropDownWidget .DropDownWidgetHead .DropDownWidgetHeadOpenCloseBtn .fontawesomeMedium {
        font-size: large;
        height: 10px; }
  .DropDownWidget .DropDownWidgetComponent {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white; }

.ActionOnPost {
  width: 100%;
  background-color: white; }
  .ActionOnPost .ActionOnPostItem {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ActionOnPost .ActionOnPostItem .saveDraftBtn, .ActionOnPost .ActionOnPostItem .previewBtn {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: none;
      padding: 8px 10px;
      border-radius: 5px; }
      .ActionOnPost .ActionOnPostItem .saveDraftBtn:active, .ActionOnPost .ActionOnPostItem .previewBtn:active {
        background-color: white;
        color: #24282d; }
    .ActionOnPost .ActionOnPostItem select {
      border: none;
      background-color: #f1f1f1;
      padding: 4px;
      border-radius: 5px; }
    .ActionOnPost .ActionOnPostItem .SaveBtn {
      background-color: #0085ba;
      color: white;
      outline: none;
      border: none;
      padding: 8px 10px;
      padding: 5px 15px;
      border-radius: 5px;
      box-shadow: 0 1px 0 #006799; }
      .ActionOnPost .ActionOnPostItem .SaveBtn:active {
        background-color: white;
        color: #24282d; }

.Post {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 20px; }

@media only screen and (min-width: 768px) {
  .Post {
    grid-template-columns: 1fr 200px; } }

.Format select {
  border: none;
  background-color: #f1f1f1;
  padding: 4px;
  border-radius: 5px; }

.VideoInformation {
  width: 100%; }
  .VideoInformation .VideoInformationSection {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center; }
    .VideoInformation .VideoInformationSection .title {
      padding: 2px; }
    .VideoInformation .VideoInformationSection .editor .option {
      display: flex;
      align-items: center; }
    .VideoInformation .VideoInformationSection .editor .textInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%; }
    .VideoInformation .VideoInformationSection .editor .textInputWithUpload {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 80%; }
    .VideoInformation .VideoInformationSection .editor .uploadBtn {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: none;
      padding: 8px 10px;
      margin: 0 3px;
      border-radius: 5px; }
    .VideoInformation .VideoInformationSection .editor .textareaInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%;
      min-height: 200px; }




/*# sourceMappingURL=styles.chunk.css.map*/