.ActionOnPost {
  width: 100%;
  background-color: white; }
  .ActionOnPost .ActionOnPostItem {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ActionOnPost .ActionOnPostItem .saveDraftBtn, .ActionOnPost .ActionOnPostItem .previewBtn {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: 0.4px #9fa3a8 solid;
      padding: 8px 10px;
      border-radius: 5px;
      border-radius: 5px; }
      .ActionOnPost .ActionOnPostItem .saveDraftBtn:active, .ActionOnPost .ActionOnPostItem .previewBtn:active {
        background-color: white;
        border: none; }
      .ActionOnPost .ActionOnPostItem .saveDraftBtn:active, .ActionOnPost .ActionOnPostItem .previewBtn:active {
        background-color: white;
        color: #24282d; }
    .ActionOnPost .ActionOnPostItem select {
      border: none;
      background-color: #f1f1f1;
      padding: 4px;
      border-radius: 5px; }
    .ActionOnPost .ActionOnPostItem .SaveBtn {
      background-color: #0085ba;
      color: white;
      outline: none;
      border: none;
      padding: 8px 10px;
      padding: 5px 15px;
      border-radius: 5px;
      box-shadow: 0 1px 0 #006799; }
      .ActionOnPost .ActionOnPostItem .SaveBtn:active {
        background-color: white;
        color: #24282d; }

.DropDownWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 10px; }
  .DropDownWidget .DropDownWidgetHead {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #eee !important;
    background-color: white; }
    .DropDownWidget .DropDownWidgetHead .DropDownWidgetHeadOpenCloseBtn {
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      color: black; }
      .DropDownWidget .DropDownWidgetHead .DropDownWidgetHeadOpenCloseBtn .fontawesomeMedium {
        font-size: large;
        height: 10px; }
  .DropDownWidget .DropDownWidgetComponent {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white; }

.Format select {
  border: none;
  background-color: #f1f1f1;
  padding: 4px;
  border-radius: 5px; }

.PostCategoriesTagsActors .items {
  display: flex;
  flex-wrap: wrap; }
  .PostCategoriesTagsActors .items .item {
    display: flex;
    font-size: x-small; }
    .PostCategoriesTagsActors .items .item button {
      outline: none;
      border: none;
      background-color: transparent; }
      .PostCategoriesTagsActors .items .item button span {
        color: #0073aa; }
      .PostCategoriesTagsActors .items .item button:active {
        background-color: white;
        color: black; }

.TitleDescription {
  padding: 10px;
  width: 100%; }
  .TitleDescription .TitleDescriptionTitle {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 3px 5px;
    width: 200px;
    height: 30px;
    width: 95%;
    background-color: white; }
  .TitleDescription .TitleDescriptionDescription {
    margin-top: 10px;
    min-height: 600px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 3px 5px;
    width: 200px;
    height: 30px;
    width: 95%;
    background-color: white; }

.VideoInformation {
  width: 100%; }
  .VideoInformation .saveBtn {
    display: flex;
    justify-content: center; }
    .VideoInformation .saveBtn .SaveVideoDataBtn {
      background-color: #0085ba;
      color: white;
      outline: none;
      border: none;
      padding: 8px 10px;
      padding: 5px 20px;
      font-size: large;
      border-radius: 5px; }
  .VideoInformation .VideoInformationSection {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center; }
    .VideoInformation .VideoInformationSection .title {
      padding: 2px;
      font-size: small; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .title {
          font-size: medium; } }
    .VideoInformation .VideoInformationSection .editor iframe {
      width: 240px;
      height: auto; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .editor iframe {
          width: 100%;
          min-height: 400px; } }
    .VideoInformation .VideoInformationSection .editor img {
      width: 240px;
      height: auto; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .editor img {
          width: 100%;
          min-height: 400px; } }
    .VideoInformation .VideoInformationSection .editor .option {
      display: flex;
      align-items: center; }
    .VideoInformation .VideoInformationSection .editor .durationItems {
      display: flex; }
      .VideoInformation .VideoInformationSection .editor .durationItems .durationItem {
        margin: 0 5px;
        display: flex;
        background-color: #f1f1f1;
        padding: 5px;
        border-radius: 5px; }
        .VideoInformation .VideoInformationSection .editor .durationItems .durationItem label {
          margin: 0 0px;
          padding: 0 0px; }
        .VideoInformation .VideoInformationSection .editor .durationItems .durationItem input {
          border: none;
          border-radius: 5px;
          padding: 3px; }
    .VideoInformation .VideoInformationSection .editor select {
      border: none;
      background-color: #f1f1f1;
      padding: 4px;
      border-radius: 5px; }
    .VideoInformation .VideoInformationSection .editor .textInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%; }
    .VideoInformation .VideoInformationSection .editor .textInputWithUpload {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 80%; }
    .VideoInformation .VideoInformationSection .editor .TextInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%; }
    .VideoInformation .VideoInformationSection .editor .uploadBtn {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: 0.4px #9fa3a8 solid;
      padding: 8px 10px;
      border-radius: 5px;
      margin: 0 3px;
      border-radius: 5px; }
      .VideoInformation .VideoInformationSection .editor .uploadBtn:active {
        background-color: white;
        border: none; }
    .VideoInformation .VideoInformationSection .editor .textareaInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%;
      min-height: 200px; }

.FilterDropDownActions {
  display: flex;
  align-items: center; }
  .FilterDropDownActions select {
    background-color: #f1f1f1;
    color: black;
    outline: none;
    border: 0.4px #9fa3a8 solid;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: white; }
    .FilterDropDownActions select:active {
      background-color: white;
      border: none; }
    .FilterDropDownActions select option {
      height: 32px;
      padding: 5px 10px; }
  .FilterDropDownActions .actionBtn {
    background-color: #f1f1f1;
    color: black;
    outline: none;
    border: 0.4px #9fa3a8 solid;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 0 5px; }
    .FilterDropDownActions .actionBtn:active {
      background-color: white;
      border: none; }
  .FilterDropDownActions div {
    margin-right: 4px; }

.FilterPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  margin: auto;
  font-size: 13px; }
  .FilterPagination .pagesNavigation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .FilterPagination .pagesNavigation .totalPosts {
      font-size: x-small; }
    .FilterPagination .pagesNavigation .pageNumberInput {
      text-align: center;
      font-size: x-small; }
    .FilterPagination .pagesNavigation button {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: 0.4px #9fa3a8 solid;
      padding: 8px 10px;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .FilterPagination .pagesNavigation button:active {
        background-color: white;
        border: none; }
      .FilterPagination .pagesNavigation button span {
        font-size: small; }
  .FilterPagination .pagesNavigationMoreAction button {
    background-color: #f1f1f1;
    color: black;
    outline: none;
    border: 0.4px #9fa3a8 solid;
    padding: 8px 10px;
    border-radius: 5px; }
    .FilterPagination .pagesNavigationMoreAction button:active {
      background-color: white;
      border: none; }
    .FilterPagination .pagesNavigationMoreAction button span {
      font-size: small; }
  .FilterPagination input {
    background-color: white !important;
    max-width: 50px; }
  .FilterPagination * {
    margin: 0 3px; }
  .FilterPagination .actionBtn i {
    font-size: 8px; }
  .FilterPagination input[type=number]::-webkit-inner-spin-button,
  .FilterPagination input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.Filters {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between; }
  .Filters .FilterStatusBtn {
    display: flex;
    justify-content: flex-start; }
    .Filters .FilterStatusBtn button {
      border: none;
      color: #0073aa;
      background: transparent; }
    .Filters .FilterStatusBtn .active {
      color: black;
      background-color: white;
      font-weight: bold; }

@media only screen and (min-width: 768px) {
  .Filters {
    grid-template-columns: 1fr 400px; } }

.FilterSearch {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .FilterSearch input {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 3px 5px;
    width: 200px;
    height: 30px;
    width: 200px;
    background-color: white !important; }
  .FilterSearch .actionBtn {
    background-color: #f1f1f1;
    color: black;
    outline: none;
    border: 0.4px #9fa3a8 solid;
    padding: 8px 10px;
    border-radius: 5px; }
    .FilterSearch .actionBtn:active {
      background-color: white;
      border: none; }

.BodyTable .BodyTableItems {
  display: grid; }
  .BodyTable .BodyTableItems .tagCategoriesActorsPreview {
    max-width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: inherit; }
    .BodyTable .BodyTableItems .tagCategoriesActorsPreview span {
      color: #0073aa;
      padding: 2px; }
  .BodyTable .BodyTableItems .postColumn {
    padding: 5px;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 5px;
    align-items: center;
    margin: 5px 0;
    font-size: x-small; }
    .BodyTable .BodyTableItems .postColumn .noMobile {
      display: none; }
    .BodyTable .BodyTableItems .postColumn img {
      width: 170px; }
    .BodyTable .BodyTableItems .postColumn .tagPreview {
      grid-gap: 1px; }
    .BodyTable .BodyTableItems .postColumn p {
      text-align: left; }
    .BodyTable .BodyTableItems .postColumn:hover {
      background-color: #f1f1f1; }
    .BodyTable .BodyTableItems .postColumn .author {
      font-size: x-small; }
    .BodyTable .BodyTableItems .postColumn .postControlOptions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px; }
      .BodyTable .BodyTableItems .postColumn .postControlOptions a, .BodyTable .BodyTableItems .postColumn .postControlOptions button {
        font-size: xx-small;
        border: none; }

.BodyTable .author {
  margin: 0 0 0 5px; }

@media only screen and (min-width: 768px) {
  .BodyTable .BodyTableItems .postColumn {
    display: grid;
    grid-template-columns: 3% 10% 12% 17% 17% 10% 7% 1fr;
    grid-gap: 5px; }
    .BodyTable .BodyTableItems .postColumn .noMobile {
      display: initial; } }

.HeaderTable tr {
  padding: 5px;
  background-color: white;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 5px; }
  .HeaderTable tr .HeaderTableItem {
    max-width: 100px;
    font-size: small; }
  .HeaderTable tr .hiddenOnMobile {
    display: none; }

@media only screen and (min-width: 768px) {
  .HeaderTable tr {
    display: grid;
    grid-template-columns: 3% 10% 12% 17% 17% 10% 7% 1fr;
    grid-gap: 5px; }
    .HeaderTable tr .hiddenOnMobile {
      display: initial; } }

.DataTable {
  width: 100%;
  text-align: left; }
  .DataTable * a {
    padding: 3px;
    text-decoration: none;
    font-size: small; }

.SideBar {
  position: fixed;
  left: 0;
  top: 40px;
  grid-area: adminSideBar;
  min-height: 100vh;
  width: 200px;
  background-color: #24282d;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .SideBar .SideBarItem {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 5px 10px;
    transition: .5s;
    font-size: large;
    margin: 5px; }
    .SideBar .SideBarItem:hover {
      background-color: #f1f1f1;
      color: #24282d;
      font-weight: bold; }
    .SideBar .SideBarItem:active {
      background-color: yellow; }

@media only screen and (min-width: 768px) {
  .SideBar {
    position: initial; } }

.adminTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  height: 30px;
  background-color: #24282d;
  grid-area: adminTopBar; }
  .adminTopBar .adminTopBarItem {
    background-color: transparent;
    color: white;
    outline: none;
    border: none; }

@media only screen and (min-width: 768px) {
  .adminSideBarMobileBtn {
    display: none; } }

.NewItemMenu {
  position: fixed;
  top: 40px;
  background-color: #33373c;
  width: 150px;
  padding: 10px; }
  .NewItemMenu a {
    color: white; }

.AdminActionMenu {
  background-color: #33373c;
  position: fixed;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .AdminActionMenu .AdminActionMenuItem {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 10px; }

.Header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.Logo {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding: 30px 0; }
  .Logo img {
    border: 1px white solid;
    width: 180px; }

@media only screen and (min-width: 768px) {
  .Logo img {
    border: 1px white solid;
    width: 300px; } }

.navigationMobileBtn {
  display: initial;
  position: fixed;
  top: 50px;
  right: 20px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none; }

.Navigation {
  display: none;
  justify-content: flex-start;
  background-color: #181818;
  flex-direction: column;
  position: fixed;
  top: 100px;
  transition: 1s;
  width: 100%; }
  .Navigation a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin: 3px 10px;
    border-bottom: #282828 solid 1px; }

@media only screen and (min-width: 768px) {
  .navigationMobileBtn {
    display: none; }
  .Navigation {
    display: flex;
    background: linear-gradient(to bottom, #222 0%, #333 50%, #222 51%, #151515 100%);
    position: initial;
    flex-direction: row; }
    .Navigation a {
      border: none; } }

.Loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }
  .Loading .lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
  .Loading .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent; }
  .Loading .lds-ring div:nth-child(1) {
    animation-delay: -0.45s; }
  .Loading .lds-ring div:nth-child(2) {
    animation-delay: -0.3s; }
  .Loading .lds-ring div:nth-child(3) {
    animation-delay: -0.15s; }
  .Loading .stopLoading {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: xxx-large;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    z-index: 10; }
    .Loading .stopLoading:hover {
      color: #916d07; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Videos .videoContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 10px; }
  @media only screen and (max-width: 320px) {
    .Videos .videoContent {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); } }
  @media only screen and (min-width: 1024px) {
    .Videos .videoContent {
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
      grid-gap: 5px;
      justify-content: center;
      align-items: center;
      margin: auto; } }

.progressParent {
  position: relative;
  height: 15px;
  background-color: black; }
  .progressParent .progressChild {
    height: 100%;
    position: absolute;
    background-color: gray;
    color: white;
    font-size: small; }

.TopBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #181818;
  padding: 5px 10px;
  height: 30px; }
  .TopBar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin: 0 10px; }
  .TopBar button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none; }

.videoElementDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 165.46px;
  margin: auto;
  border-bottom: 0.5px solid white;
  border-radius: 0 0 10px 10px; }
  .videoElementDiv .VideoElement {
    display: flex;
    flex-direction: column;
    width: 165.46px;
    height: 170px;
    margin-top: 20px;
    border-radius: 3px; }
    .videoElementDiv .VideoElement .image {
      position: relative; }
      .videoElementDiv .VideoElement .image img {
        width: 165.46px;
        height: 92.81px; }
        .videoElementDiv .VideoElement .image img:hover {
          animation: opacityAnimationEnd .5s alternate; }

@keyframes opacityAnimationEnd {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0; } }
      .videoElementDiv .VideoElement .image video {
        width: 165.46px;
        height: 92.81px;
        animation: opacityAnimationStart 2s alternate; }

@keyframes opacityAnimationStart {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
      .videoElementDiv .VideoElement .image .views {
        position: absolute;
        right: 3px;
        bottom: 3px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px;
        border-radius: 5px;
        font-size: small; }
        .videoElementDiv .VideoElement .image .views span {
          margin-right: 5px; }
      .videoElementDiv .VideoElement .image .duration {
        position: absolute;
        left: 3px;
        bottom: 3px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px;
        border-radius: 5px;
        font-size: small; }
      .videoElementDiv .VideoElement .image .quality {
        position: absolute;
        right: 3px;
        top: 3px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px;
        border-radius: 5px;
        font-size: small;
        font-weight: bold; }
    .videoElementDiv .VideoElement h3 {
      font-size: small;
      word-wrap: break-word;
      font-weight: initial;
      overflow: hidden;
      text-align: initial;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 2px;
      border-radius: 5px;
      font-size: small;
      background-color: transparent;
      color: white;
      margin: 0; }
  .videoElementDiv .videoPreviewMobile {
    padding-top: 0;
    width: 50%; }

@media only screen and (max-width: 320px) {
  .videoElementDiv .VideoElement {
    width: 130px;
    height: 170px; }
    .videoElementDiv .VideoElement .image img {
      width: 130px;
      height: 80.81px; }
    .videoElementDiv .VideoElement .image video {
      width: 130px;
      height: 80.81px; }
  .videoPreviewMobile {
    width: 130px; } }

@media only screen and (min-width: 1024px) {
  .videoElementDiv {
    width: 256px;
    height: 237px;
    margin: auto;
    border: none; }
    .videoElementDiv .VideoElement {
      width: 256px;
      height: 237px; }
      .videoElementDiv .VideoElement .image {
        position: relative; }
        .videoElementDiv .VideoElement .image img {
          width: 256px;
          height: 144px; }
        .videoElementDiv .VideoElement .image video {
          width: 256px;
          height: 144px; }
      .videoElementDiv .VideoElement h3 {
        font-size: medium; }
  .videoPreviewMobile {
    display: none; } }

.WidgetFooter a {
  color: white;
  background-color: #282828;
  padding: 10px;
  border-radius: 5px; }

.WidgetHeader {
  display: flex;
  background-color: #33373c;
  border-radius: 5px;
  border-left: 5px solid #0073aa; }
  .WidgetHeader .WidgetHeaderTitle {
    padding: 0 10px; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'adminTopBar adminTopBar' 'adminContent adminContent'; }

.Admin {
  grid-area: adminContent;
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  min-height: 100vh;
  float: left;
  -webkit-font-smoothing: subpixel-antialiased; }

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'adminTopBar adminTopBar' 'adminSideBar adminContent'; } }

.blurArea {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

.authPage {
  display: flex;
  justify-content: center; }
  .authPage .authForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .authPage .authForm .messageLabel {
      width: 250px;
      margin-top: 20px;
      padding: 10px 0;
      font-size: large;
      font-weight: bold;
      border-radius: 5px;
      background-color: transparent;
      text-align: center; }
    .authPage .authForm .authFormItem input {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px; }
    .authPage .authForm .submitBtn {
      background: linear-gradient(#67ae55, #578843);
      box-shadow: inset 0 1px 1px #a4e388;
      border-color: #3b6e22 #3b6e22 #2c5115;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      letter-spacing: 1px;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      width: 200px;
      height: 40px;
      min-width: 194px;
      padding: 7px 20px;
      text-align: center;
      line-height: 126%;
      box-sizing: border-box;
      margin-top: 10px;
      margin-bottom: 10px; }

.Post {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 20px; }

@media only screen and (min-width: 768px) {
  .Post {
    grid-template-columns: 1fr 200px;
    grid-template-rows: none; } }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white; }

.svgImage {
  fill: white !important;
  background-color: white;
  color: white; }

.fontawesomeMedium {
  font-size: x-large; }

.fontawesomeSmall {
  font-size: medium; }

input:focus, textarea:focus, select:focus {
  outline: none; }

input, textarea, select {
  border: none;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 5px; }

a {
  text-decoration: none; }


.VideoInformation {
  width: 100%; }
  .VideoInformation .saveBtn {
    display: flex;
    justify-content: center; }
    .VideoInformation .saveBtn .SaveVideoDataBtn {
      background-color: #0085ba;
      color: white;
      outline: none;
      border: none;
      padding: 8px 10px;
      padding: 5px 20px;
      font-size: large;
      border-radius: 5px; }
  .VideoInformation .VideoInformationSection {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center; }
    .VideoInformation .VideoInformationSection .title {
      padding: 2px;
      font-size: small; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .title {
          font-size: medium; } }
    .VideoInformation .VideoInformationSection .editor iframe {
      width: 240px;
      height: auto; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .editor iframe {
          width: 100%;
          min-height: 400px; } }
    .VideoInformation .VideoInformationSection .editor img {
      width: 240px;
      height: auto; }
      @media only screen and (min-width: 768px) {
        .VideoInformation .VideoInformationSection .editor img {
          width: 100%;
          min-height: 400px; } }
    .VideoInformation .VideoInformationSection .editor .option {
      display: flex;
      align-items: center; }
    .VideoInformation .VideoInformationSection .editor .durationItems {
      display: flex; }
      .VideoInformation .VideoInformationSection .editor .durationItems .durationItem {
        margin: 0 5px;
        display: flex;
        background-color: #f1f1f1;
        padding: 5px;
        border-radius: 5px; }
        .VideoInformation .VideoInformationSection .editor .durationItems .durationItem label {
          margin: 0 0px;
          padding: 0 0px; }
        .VideoInformation .VideoInformationSection .editor .durationItems .durationItem input {
          border: none;
          border-radius: 5px;
          padding: 3px; }
    .VideoInformation .VideoInformationSection .editor select {
      border: none;
      background-color: #f1f1f1;
      padding: 4px;
      border-radius: 5px; }
    .VideoInformation .VideoInformationSection .editor .textInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%; }
    .VideoInformation .VideoInformationSection .editor .textInputWithUpload {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 80%; }
    .VideoInformation .VideoInformationSection .editor .TextInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%; }
    .VideoInformation .VideoInformationSection .editor .uploadBtn {
      background-color: #f1f1f1;
      color: black;
      outline: none;
      border: 0.4px #9fa3a8 solid;
      padding: 8px 10px;
      border-radius: 5px;
      margin: 0 3px;
      border-radius: 5px; }
      .VideoInformation .VideoInformationSection .editor .uploadBtn:active {
        background-color: white;
        border: none; }
    .VideoInformation .VideoInformationSection .editor .textareaInput {
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 5px;
      width: 200px;
      height: 30px;
      background-color: #f1f1f1;
      width: 90%;
      min-height: 200px; }




/*# sourceMappingURL=styles.chunk.css.map*/