.cardTitle{
  display: flex;
  align-items: center;
  height: 48px;
  a{
    height: 48px;
    box-sizing: border-box;
    margin: 2px;
    padding: 0 2px;
    font-size: 1rem;
    max-width: 100%;
    color: var(--primary-text-color,#fff);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

  }
}

@media only screen and (min-width: 600px) {
  .cardTitle{
    height: initial;
    a{
      height: initial;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 1rem;
    }
  }
}