.cardTitle {
  color: var(--primary-text-color, #fff);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  min-width: 0;
  a {
    color: var(--primary-text-color, #fff);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
  }

  .rating-icon {
    margin-left: 8px;
    flex-shrink: 0;
  }
}

