.video-player {
  margin: 0 auto;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 992px;
  
  .responsive-player {
    aspect-ratio: 16/9;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .video-player-video-type {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    outline: none;
    border-radius: 10px;
  }
}