@import "../../../../styles/colors";

.admin-import-page-youtube {
  display: flex;
  flex-direction: column;

  textarea {
    background-color: $light100;
    min-width: 50vw;
    min-height: 300px;
  }
}

.admin-import-page-youtube-api-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light100;
  background-color: $AdminColor80;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;

  input {
    background-color: $light100;
    width: 100%;
  }
}