.checkout-page{
  //display: grid;
  //grid-template-columns: 1fr ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  .checkout-items{
    width: 90%;
    max-width: 600px;
    margin: auto;
  }

  .checkout-purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    //height: auto;
    background-color: white;
    margin: auto;
    .checkout-total{
      display: flex;
      align-items: center;
      flex-direction: column;

    }
    .check-out-pay-btn{
      border: .2px solid black;
      padding: 5px 10px;
    }
  }
}



@media only screen and (min-width: 769px) {
  .checkout-page{
    .checkout-items{
      width: 45%;
    }
    .checkout-purchase{
      width: 45%;

    }
  }

}