.navigation-mobile-button{
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  width: 30px;
  height: 30px;
  .navigation-mobile-button-logo{
    width: 30px;
    height: 30px;
  }
}

.navigation-close-button{
  position: fixed;
  top:2%;
  right :2%;
  background-color: transparent;
  border: none;
}


.menu-widget{

  //display: flex;


  //align-items: flex-start;
  //flex-direction: column;
  //flex-wrap: wrap;

  .menu-widget-items{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    .menu-widget-item{
      list-style-type: none;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid ;

    }
    .navigation-close-button{

    }
  }
}

@media only screen and (min-width: 768px) {
  .menu-widget{

    .navigation-mobile-button{
      display: none;
    }

    .menu-widget-items{
      background-color: initial;
      flex-direction: row;
      width: initial;
      position: initial;
      animation: initial ;
      .menu-widget-item{
        margin: 0 10px;
        width:initial;
        text-align: left;
        padding: 0;
        border-bottom: none;
      }
      .navigation-close-button{
        display: none;
      }
    }
  }
}

