.navigation-mobile-button{
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  .navigation-mobile-button-logo{
    width: 30px;
    height: 30px;
  }
}

.menu-widget{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .menu-widget-items{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 100px;
    left :0;
    right: 0;
    animation: navigationMobile .5s ;
    .menu-widget-item{
      list-style-type: none;
      margin: 5px 10px;
      width: 100%;
      text-align: center;
      border-bottom: .5px solid black;
      padding: 5px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .menu-widget{
    .menu-widget-items{
      flex-direction: row;
      width: initial;
      position: initial;
      animation: initial ;
      .menu-widget-item{
        margin: 0 10px;
        width:initial;
        text-align: left;
        border-bottom: none;
      }
    }
  }
}

@keyframes navigationMobile {
  0%{
    left:-500px ;
  }
  100%{
    margin-top:0;
    left:0 ;
  }
}