@import "../../../../../styles/colors";
@import "../../../../../styles/buttons";

.comment-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  .comment-form-info{
    display: flex;
    justify-content: flex-start;
    input{
      width: 50%;
    }
  }
  .comment-form-input {
    display: flex;
    textarea {
      width: 100%;
    }
  }

  .comment-form-submit-button {
    @include greenActionBtn;
  }

  input, textarea {
    background-color: #282828;
    margin: 5px;
    border: 1px solid #181818;
    color: white;
  }

  textarea {
    min-height: 200px;
  }
}

