@import "../../styles/inputs";
@import "../../styles/buttons";

.authPage {
  display: flex;
  justify-content: center;

  .authForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .messageLabel {
      width: 250px;
      margin-top: 20px;
      padding: 10px 0;
      font-size: large;
      font-weight: bold;
      border-radius: 5px;
      background-color: transparent;
      text-align: center;
    }

    .authFormItem {
      input {
        @include inputNormalWithRadius;
      }

      p {
        color: $light100;
      }

    }

    .submitBtn {
      @include greenActionBtn;
    }
  }
}
@media only screen and (min-width: 768px) {
  .youtube-last-video {
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .youtube-last-video > div > iframe {
    border: none;
    border-radius: 25px;

  }
}
