@import "../../../styles/colors";
@import "./WidgetHeader/WidgetHeader";

.widget {

  .standard-posts-content{
    //margin: auto;
  }


  .small-posts-content {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(140px, 1fr));

    .small {
      width: 140px;
      height: 140px;
      margin: auto;

      .post-element {
        width: 100%;
        height: 140px;

        .image {
          img, video {
            width: 140px;
            height: 79px;
            object-fit: cover;
          }

        }

        h3 {
          width: 130px;
        }
      }

    }
  }
  .list-posts-content {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    .post-element-div {
      width: 98%;
      max-width: 240px;
      height: 90px;
      margin: 2px 0;
      a {
        width: 98%;
        height: 90px;
        .post-element {
          width: 100%;
          height: 90px;
          display: flex;
          flex-direction: row;
          //align-items: center;
          justify-content: space-between;
          .image {
            //width: 50%;
            margin: 0;
            img, video {
              width: 130px ;
              aspect-ratio:16/9;
              //height: 90px !important;
            }
            .top-right ,.bottom-right{
              display: none;
            }
          }

          .progressParent {
            display: none;
          }

          h3 {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            margin: 0;
          }
        }
      }


    }

  }
}