@import "../../../styles/colors";

.Widget {
  padding: 10px;

  .widgetText {
    //padding: 0 10px;
  }

  .Videos {

    .smallVideoContent {
      //min-width: 300px;
      //max-width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      //display: grid;
      //grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

      .small {
        width: 140px;
        margin: 0 5px;
        //height: auto;

        .VideoElement {
          width: 140px;
          //height: auto;
          .image {
            img, video {
              width: 140px;
              height: 80px;
              object-fit: cover;
              //display: none;
            }

          }
        }

      }
    }

    .listVideoContent {
      //display: grid;
      //grid-template-columns: 1fr;
      display: flex;

      flex-wrap: wrap;
      .list {
        //height: auto;
        width: 90%;
        a {
          width: 95%;
        }

        //display: flex;
        //justify-content: center;
        .VideoElement {
          width: auto;
          display: flex;
          //justify-content: flex-start;
          height: auto;

          .image {
            img, video {
              width: 100px;
              height: auto;
              //display: none;
            }

            .views, .duration {
              display: none;
            }
          }

          .progressParent {
            display: none;
          }

        }
      }

    }

  }

  @media only screen and (max-width: 320px) {
    padding: 0;

  }
}