@import "../../../styles/colors";

.Widget {
  //padding: 10px;
  margin: 20px 0;
  color: $light100;

  .widgetText {
    //padding: 0 10px;
  }

  .Posts {

    .smallPostsContent {
      //min-width: 300px;
      //max-width: 100%;
      //display: flex;
      //justify-content: flex-start;
      //flex-wrap: wrap;
      //display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

      .small {
        width: auto;
        //margin: 0 5px;
        //height: auto;

        .post-element {
          width: 140px;
          height: content-box;

          .image {
            img, video {
              width: 140px;
              height: 80px ;
              object-fit: cover;
              //display: none;
            }

          }
        }

      }
    }

    .listPostsContent {

      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      .list {
        //margin: 300px 0;
        width: 90%;
        height: 140px;

        a {
          width: 95%;
          height: 140px !important;
        }

        .post-element {
          width: auto;
          height: 140px !important;

          .image {
            img, video {
              width: 160px;
              height: 90px ;
              //display: none;
            }

            .views, .duration {
              display: none;
            }
          }

          .progressParent {
            display: none;
          }

          h3{
            //overflow: hidden;
            //white-space: nowrap;
            //text-overflow: ellipsis;
            width: 250px;
          }

        }
      }

    }

  }

  @media only screen and (max-width: 320px) {
    padding: 0;

  }
}