@import "../../../styles/colors";
@import "../../../styles/buttons";

.value-next-icon {
  margin: 0 3px;
}

.post-element-info-logo {
  font-size: 15px;
  width: 15px;
  height: 15px;
}

@mixin opacityAnimationEnd {
  animation: opacityAnimationEnd .5s alternate;
  @keyframes opacityAnimationEnd {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin opacityAnimationStart {
  animation: opacityAnimationStart 2s alternate;
  @keyframes opacityAnimationStart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

.post-element-div {
  width: 100%;
  border: none;

  .post-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: auto;

    .image {
      position: relative;

      img {
        width: 100vw;
        height: auto;
      }

      video {
        width: 100vw;
        height: auto;
        @include opacityAnimationStart;
      }

      .bottom-right {
        position: absolute;
        right: 3px;
        bottom: 3px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 1px 3px;
        border-radius: 3px;

        span {
          margin: 0 5px;
        }
      }

      .bottom-left {
        position: absolute;
        left: 3px;
        bottom: 3px;
        display: flex;
        align-items: center;
        padding: 1px 3px;
        border-radius: 3px;

        span {
          margin: 0 5px;
        }
      }

      .top-right {
        position: absolute;
        right: 3px;
        top: 3px;
        border-radius: 3px;
        padding: 1px 3px;
      }
    }

    h3 {
      font-size: medium;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      font-weight: initial;
      white-space: nowrap;
      width: 90%;
      margin: auto;
    }

    .progressParent{
      background-color: #333;
      width: 98%;
      margin: auto;
      .progressChild{
        background-color: red;
        p{
          position: relative;
          width: 100%;
          color: white;
        }
      }
    }


  }
}

@media only screen and (min-width: 768px) {
  .post-element-div {
    width: 209.79px;
    height: 200px;
    margin: auto;

    .post-element {
      width: 209.79px;
      height: 200px;
      .image {
        img {
          width: 209.79px;
          height: 118.5px;
        }
        video {
          width: 209.79px;
          height: 118.5px;
        }
      }

      h3 {

        width: 180px;
      }
    }
  }

}


@media only screen and (min-width: 1200px) {
  .post-element-div {
    width: 300px;
    height: 250px;

    .post-element {
      width: 300px;
      height: 237px;

      .image {
        img {
          width: 300px;
          height: 169px;
        }

        video {
          width: 300px;
          height: 169px;
        }
      }

      h3 {
        width: 295px;
      }
    }
  }

}