@import "../../../styles/colors";
@import "../../../styles/buttons";

.value-next-icon {
  margin: 0 3px;
}

.post-element-info-logo {
  font-size: 15px;
  width: 15px;
  height: 15px;
}

@mixin opacityAnimationEnd {
  animation: opacityAnimationEnd .5s alternate;
  @keyframes opacityAnimationEnd {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin opacityAnimationStart {
  animation: opacityAnimationStart 2s alternate;
  @keyframes opacityAnimationStart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}


.post-element-div-medium,.post-element-div-small,.post-element-div-smaller{
  .post-element {
    width: 95vw;
    .image{
      .video{
        max-width: 95vw;
      }
    }
  }
}


.post-element-div {
 // width: 100vw;
  border: none;
  margin: auto;

  .post-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    .image {
      position: relative;
      margin: auto;
      //width: 95vw;
      .post-element-external-image {
        margin: auto;
        object-fit: contain;
        height: auto;
      }

      .post-element-internal-image {
        margin: auto;
        object-fit: contain;
      }

      video {
        @include opacityAnimationStart;
      }

      .bottom-right {
        position: absolute;
        right: 3px;
        bottom: 3px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 1px 3px;
        border-radius: 3px;

        span {
          margin: 0 5px;
        }
      }

      .bottom-left {
        position: absolute;
        left: 3px;
        bottom: 3px;
        display: flex;
        align-items: center;
        padding: 1px 3px;
        border-radius: 3px;

        span {
          margin: 0 5px;
        }
      }

      .top-right {
        position: absolute;
        right: 3px;
        top: 3px;
        border-radius: 3px;
        padding: 1px 3px;
      }
    }

    h3 {
      font-size: medium;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      font-weight: initial;
      white-space: nowrap;
      width: 100%;
      margin: auto;
    }

    .progressParent {
      //background-color: #333;
      width: 100%;
      margin: auto;

      .progressChild {
        //background-color: red;

        p {
          position: relative;
          //width: 100%;
          color: white;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .post-element-div-medium{
    width: 320px;
    .post-element {
      width: 320px;
      image{
        max-width: 320px;
        .post-element-external-image{
          width: 320px;
        }
        .post-element-internal-image{
          width: 320px;
        }
        video{
          width: 320px;
        }
      }
      h3 {
        width: 320px;
      }
    }
  }
  .post-element-div-small{
    width: 256.6px;
    .post-element {
      width: 256.6px;
      image{
        max-width: 256.6px;
        .post-element-external-image{
          width: 256.6px;
        }
        .post-element-internal-image{
          width: 256.6px;
        }
        video{
          width: 256.6px;
        }
      }
      h3 {
        width: 256.6px;
      }
    }
  }
  .post-element-div-smaller{
    width: 209.8px;
    .post-element {
      width: 209.8px;
      image{
        max-width: 209.8px;
        .post-element-external-image{
          width: 209.8px;
        }
        .post-element-internal-image{
          width: 209.8px;
        }
      }
      video{
        width: 209.8px;
      }
      h3 {
        width: 209.8px;
      }
    }
  }



  .post-element-div {
    .post-element {
      image {
        max-width: 320px;
        .post-element-external-image {
          margin: auto;
          object-fit: contain;
        }
        .post-element-internal-image {
          margin: auto;
          object-fit: contain;
        }
      }

      .progressParent {
        //background-color: #333;
        width: 100%;

      }
    }
  }

}


