@import "../../../styles/colors";
@import "../../../styles/buttons";

@mixin elementOnVideoElement {
  color: $light100;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px;
  border-radius: 5px;
  font-size: small;
}

@mixin opacityAnimationEnd {
  animation: opacityAnimationEnd .5s alternate;
  @keyframes opacityAnimationEnd {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin opacityAnimationStart {
  animation: opacityAnimationStart 2s alternate;
  @keyframes opacityAnimationStart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}

.post-element-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 165.46px;
  margin: auto;
  //border-bottom: .5px solid $light100;
  border-radius: 0 0 10px 10px;

  .post-element {
    display: flex;
    flex-direction: column;
    width: 165.46px;
    height: 170px;
    margin-top: 20px;
    border-radius: 3px;

    .image {
      position: relative;

      img {
        width: 165.46px;
        height: 92.81px;
        //transition: all 2s  ease;
        &:hover {
          //@include opacityAnimationEnd;
        }

      }

      video {
        width: 165.46px;
        height: 92.81px;
        @include opacityAnimationStart;

      }

      .bottom-right {
        position: absolute;
        right: 3px;
        bottom: 3px;

        @include elementOnVideoElement;
        margin: auto;
        //padding: 0 5px;
        span {

        }

      }

      .bottom-left {
        position: absolute;
        left: 3px;
        bottom: 3px;
        @include elementOnVideoElement;
        svg{
          path{
            //fill: yellow;
          }
        }
      }

      .top-right {
        position: absolute;
        right: 3px;
        top: 3px;
        @include elementOnVideoElement;
        font-weight: bold;
      }
    }

    h3 {
      font-size: small;
      word-wrap: break-word;
      font-weight: initial;
      //white-space: nowrap;
      overflow: hidden;
      //max-width:150px;
      text-align: initial;
      @include elementOnVideoElement;
      background-color: transparent;
      color: $light100;
      margin: 0;
    }

  }

  .videoPreviewMobile {
    //@include transparentBtn;
    padding-top: 0;
    width: 50%;
    //border: .5px gray solid;
    //border-radius: 5px;

  }


}

.value-next-icon{
  margin: 0 3px;
}


@media only screen and (max-width: 320px) {

  .post-element-div {
    .post-element {

      width: 130px;
      height: 170px;

      .image {

        img {
          width: 130px;
          height: 80.81px;
        }

        video {
          width: 130px;
          height: 80.81px;
        }
      }
    }
  }

  .videoPreviewMobile {
    width: 130px;
  }

}

@media only screen and (min-width: 1024px) {
  .post-element-div {
    width: 256px;
    height: 237px;
    margin: auto;
    border: none;

    .post-element {
      width: 256px;
      height: 237px;

      .image {
        position: relative;

        img {
          width: 256px;
          height: 144px;
        }

        video {
          width: 256px;
          height: 144px;

        }

      }

      h3 {
        font-size: medium;
      }
    }
  }
  .videoPreviewMobile {
    display: none;
  }
}