.theme-switcher-widget{
  position: relative;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--secondary-text-color,#b3b3b3);
    svg{
      width: 24px;
      height: 24px;
    }
  }

  .select-section {
    position: absolute;
  }

}