$grid-gap:8px;
.postsCardsWrapper {
  display: grid;
  grid-gap: $grid-gap;
  justify-content: center;
  align-items: center;
  padding: 8px 0;

  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  @media only screen and (min-width: 601px) and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }


  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }


  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }


  @media only screen and (min-width: 1281px) and (max-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }


  @media only screen and (min-width: 1441px) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

}

.postsCardsWrapperSidebar{
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  @media only screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  @media only screen  and (min-width: 768px) {

    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  @media only screen and (min-width: 1024px) {
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

