@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.navigationMobileBtn {
  display: initial;
  position: absolute;
  top:50px ;
  right: 20px;
  transition: .5s;
  @include transparentLightTextBtn;
  .navigation-mobile-btn-logo{

    width: 30px;
    height: 40px;
  }
}

.Navigation {
  display: none;
  justify-content: flex-start;
  background-color: $dark80;
  flex-direction: column;
  position: absolute;
  top: 100px;
  transition: 1s;
  //right: 50px;
  width: 100%;
  z-index: 2;
  animation: navigationMobile .5s ;
  a {
    text-decoration: none;
    color: white;
    padding:  10px;
    box-sizing: border-box;
    //margin: 3px 10px;
    border-bottom: $dark90 solid 1px;

  }
}

@keyframes navigationMobile {
  0%{
    top:-500px ;
  }
  100%{
    margin-top:0
  }
}


@media only screen and (min-width: 768px) {
  .navigationMobileBtn {
    display: none;
  }
  .Navigation{
    display: flex;
    position: initial;
    flex-direction: row;
    transition: none;
      a{
        border: none;
    }
  }
}