@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.navigationMobileBtn {
  display: initial;
  //position: absolute;
  top:50px ;
  right: 20px;
  transition: .5s;
  @include transparentLightTextBtn;
  .navigation-mobile-btn-logo{

    width: 30px;
    height: 40px;
  }
}

.navigation {
  display: none;
  justify-self: start;
  flex-direction: column;
  position: absolute;
  top:48px;
  width: 80%;
  transition: 1s;
  z-index: 2;
  animation: navigationMobile .5s ;
  .navigation-links{
    display: flex;
    flex-direction: column;
    .navigation-link {
      text-decoration: none;
      //color: white;
      padding:  10px;
      box-sizing: border-box;
      margin: 3px 10px;
      border-bottom: $dark90 solid 1px;

    }
  }

  .logged-in-items,.logged-out-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    border-bottom: $dark90 solid 1px;

    .logged-in-item-logo,.logged-out-item-logo{
      width: 20px;
      height: 20px;
      border: none;

    }
    a,p {
      text-decoration: none;
      //color: white;
      box-sizing: border-box;
      margin: 10px 0;
    }
  }
}

@keyframes navigationMobile {
  0%{
    left:-500px ;
  }
  100%{
    margin-top:0;
    left:0 ;
  }
}


@media only screen and (min-width: 768px) {
  .navigationMobileBtn {
    display: none;
  }
  .navigation{
    display: initial;
    position: initial;
    flex-direction: row;
    transition: none;
    width: 100%;

    .navigation-links{
      display: flex;
      align-items: center;
      flex-direction: row;
      .navigation-link{
        border: none;
      }
    }

  }
}