.e-commerce-settings-input-section{
  background-color: #222;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  .e-commerce-settings-input-section-description{
    color: white;
  }
  .e-commerce-settings-input-section-sub{
    margin: 5px;
  }
  .e-commerce-settings-input-section-title{
     color: white;
  }

  .e-commerce-settings-input-section-select{

  }

  .e-commerce-settings-input-section-input{
    width: 95%;
  }
  .e-commerce-settings-input-section-save-button{

  }
}