.FileManagerArea{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  background-color: white;
  padding: 20px 20px 200px 20px;
  border-radius: 20px;
  .dirItem{
    button{
      width: 100px;
      height: 100px;
      background-color: gray;
      border: none;
      outline: none;
      font-size: xxx-large;
      transition: .4s;
      border-radius: 10px;
      &:hover {
        transform: scale(1.2);
      }
    }
    p{
      font-size: small;
    }
    .clickedItem{
      background-color:rgba(0,100,255,0.8) ;
      color: white;
    }
    .unClickedItem{
      background-color:transparent ;
    }
  }
}