@import "../../../styles/_grid";

//.posts-grid {
//  //margin: 10px 0;
//
//
//}

.postsContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  //@include postsContent;
}