@import "../../../../../styles/grid";
@import "../../../../../styles/buttons";
@import "../../../../../styles/links";

.asset-page-table-body-item {
  .asset-page-table-body-item-content {
    padding: 10px;
    border: .2px solid rgba(0, 0, 0, .1);
    border-bottom: none;
    @include assetTable;
  }

  .asset-page-table-body-item-hover-item {
    font-size: 13px !important;
    display: flex;
    align-items: center;
    height: 35px;
    border: .2px solid rgba(0, 0, 0, .1);
    border-top: none;

    button,a{
      text-decoration: none;
      border: none;
      color: $lightBlue;
      width: 50px;
      height: 20px;
      font-size: 13px;
      background-color: transparent;
      margin-left: 10px;
    }
    button {
      cursor: pointer ;
    }
  }
}

.asset-page-table-body-item:nth-child(even) {
  background-color: #fff;
}