@import "../../../../styles/links";

.asset-page-status-navigation{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .asset-page-status-navigation-item{
       margin: 5px;
       //@include linkLikeActionBtnAdmin;
  }
}