@import "../../../../styles/inputs";
@import "../../../../styles/colors";
@import "../../../../styles/buttons";
.asset-page-search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  input{
    @include adminMainInput;
    background-color: $light100;
  }
  button{
    @include adminMainBtn;
  }
}