@import "../../../../styles/links";
@import "../../../../styles/inputs";
@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.asset-page-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .asset-page-pagination-item {
    margin: 5px;
    @include adminMainBtn;
  }
  .asset-page-pagination-item-input{
    @include adminMainInput;
    width: 50px;
  }
  .asset-page-pagination-item-btn{
    @include adminMainBtn;
  }
}