.userPreviewImage {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .userPreviewImageInner {
    //border-radius: 50%;
    box-sizing: border-box;
    object-fit: cover;
    cursor: pointer;
  }
  .userPreviewImageIcon {
    cursor: pointer;
  }
}



