@import "../../../styles/links";

.Post{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  .content{

  }
}

@media only screen and (min-width: 768px) {
  .Post{
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    .content{
      .post-admin-widget-editor{
        max-width: 96%;
      }
    }
    .side{

    }

  }
}