@import "../../../components/adminIncludes/PostComponents/DropDownWidget/DropDownWidget";

.admin-post{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .admin-post{
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    .content{
      .post-admin-widget-editor{
      }
    }
  }
}