#messengerHeader {

  display: flex;
  align-items: center;
  width: 100%;
  border-top: var(--primary-border);
  border-bottom: var(--primary-border);

  .messengerHeaderContent {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    justify-content: space-between;

    .messengerHeaderLeftContent, .messengerHeaderRightContent {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      .btn {
        color: var(--primary-text-color, #fff);
      }

      button {
        margin: 0 5px;
      }

      &:first-child button {
        margin-left: 0;
      }

      &:last-child button {
        margin-right: 0;
      }
    }

    .messengerHeaderLeftContent {

      img {
        border-radius: 50%;
        margin: 0 10px;
      }
      .messenger-conversation-header-username{
        cursor: pointer;
      }
    }

  }

  .chatroomTopBarActionButton {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    //color: var(--secondary-text-color, #b3b3b3);

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .chatroomTopBarActionButton {
    color: var(--primary-active-color, #f90);
  }
}

@media only screen and (min-width: 768px) {
  .chatroomTopHeaderActionButton {
    display: none;
  }
}