#MessengerMultiMediaInputBox {
  background-color: var(--tertiary-background-color);
  grid-area: mediaInputBox;
  align-items: center;
  display: grid;
  //grid-template-columns: 1fr 32px 32px;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 2fr;
  grid-gap: 3px;
  padding: 4px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-top: var(--primary-border);
  position: relative;

  .media-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top:-50px;
    left: 0;
    right: 0;
  }

  .audio-recording-animation {
    position: fixed;
    bottom: 45px;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    animation: pulsing 2s infinite;

    .counter {
      font-size: 120px;
    }
  }
}