@import "../../../styles/inputs";
@import "../../../styles/buttons";

.single-meta-page{

  .single-meta-page-section{
    input,textarea{
      min-width: 300px;
      @include adminMainInput;
      //background-color: white;
    }
    textarea{

      min-height: 200px;
    }
    .preview-image{
      margin: 10px 0;
      img{
        width: 280px;
      }
    }
  }

  button{
    @include greenActionBtn;
  }
}