.messengerPageContent {
  //env(safe-area-inset-top,0)
  position: fixed;
  color: var(--primary-text-color, #fff);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  background-color: var(--tertiary-background-color);

  .conversationsControls {
    grid-area: conversationsControls;
   // background-color: var(--tertiary-background-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .conversationsControlsHidden {
    display: none;
  }

  .conversationArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
  }

  .conversationAreaHidden {
    display: none;
    //background-color: var(--tertiary-background-color);
  }

  //.messengerPageContentActive{
  //  grid-template-areas: 'conversationsControls';
  //}


  @media only screen and (min-width: 768px) {
    .conversationsControls {
      width: 300px;

      .conversationsControlsHeader {
        .ControlsHeaderMaximizedButton {
          display: none;
        }
      }
    }

    .conversationArea {
      width: calc(100vw - 300px);
    }

    .conversationsControlsHidden {
      display: flex;
    }

    .conversationAreaHidden {
      display: grid;
    }
  }
}
