@import "../../../../styles/colors";
@import "../../../../styles/buttons";
@import "./FormTypeWidgetModelFields/FormTypeWidgetModelFields";
@import "./MultipleLinkWidgetModelFields/MultipleLinkWidgetModelFields";
@import "./MenuWidgetModelFields/MenuWidgetModelFields";
@import "./WidgetHeaderControl/WidgetHeaderControl";


.widgetModel {
  z-index: 3;
  background-color: var(--admin-darkcolor70);
  display: flex;
  flex-direction: column;
  //border: solid .5px black;

  color: var(--admin-text-color);
  position: initial;
  top:100px;
  width: 100%;
  p{
    width: 95%;
    margin: auto;
    font-size: .8rem;
  }
  .widgetInfo{
    margin: auto;
    width: 95%;
  }
  .customStylesTextarea{
    width: 95%;
    min-height: 250px;
    margin: auto;
  }
  .widgetSection{
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    p{
      width: 40%;
      font-size: .8rem;
    }
    input,select{
      display: block;
      width: 50%;
      -ms-box-sizing:content-box;
      -moz-box-sizing:content-box;
      -webkit-box-sizing:content-box;
      box-sizing:content-box;
    }
  }
  textarea{
  min-height: 250px;
}
  button {
    @include AdminLightBtn;

  }

.media-widget{
  display:flex;
  justify-content: center;
}


  .widgetInfo {
    display: flex;
    flex-direction: column;
    color: $light100;
    font-size: small;

    label {
      //padding: 5px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  input, select, button {
    margin: 5px;
  }

  input, select {
    background-color: $dark90;
    color: $light100;
  }
}


.control-buttons{
  display: flex;
  justify-content: space-evenly;
  button{
    padding: 5px 5%;
  }
}

@media only screen and (min-width: 768px) {
  .widgetModel{
   // position: absolute;
  }
}