@import "../../../../styles/colors";
@import "../../../../styles/buttons";
@import "./FormTypeWidgetModelFields/FormTypeWidgetModelFields";
@import "./MultipleLinkWidgetModelFields/MultipleLinkWidgetModelFields";
@import "./MenuWidgetModelFields/MenuWidgetModelFields";
@import "./WidgetHeaderControl/WidgetHeaderControl";

.widget-open-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $AdminColor80;
  color: $light100;
  border-radius: 10px 10px 0 0;
  margin-top: 5px ;
  //font-weight:  ;
  .widget-open-control-group{
    display: flex;
    align-items: center;
  }
  button{
    @include AdminLightBtn
  }
  .changeWidgetIndexBtn{
    background-color: transparent;
    border: none;
    img{
      color: black;
    }
    &:hover{
      background-color: $dark80;

    }
  }
  &:hover{
    transition: 1s;
    transform: scale(1.03);
  }
}

.widgetModel {
  background-color: $AdminColor80;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  //max-width: 300px;
  padding:  10px;
  border: solid .5px black;
  margin-bottom: 5px;
  color: $light100;

  .customStylesTextarea{
    width: 95%;
    min-height: 250px;
    margin: auto;
  }


  .widgetSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    p{
      width: 40%;
      font-size: .8rem;
    }
    input,select{
      display: block;
      width: 50%;
      -ms-box-sizing:content-box;
      -moz-box-sizing:content-box;
      -webkit-box-sizing:content-box;
      box-sizing:content-box;
    }
  }
  textarea{
  min-height: 250px;
}
  button {
    @include AdminLightBtn;

  }

.media-widget{
  display:flex;
  justify-content: center;
}


  .widgetInfo {
    display: flex;
    flex-direction: column;
    color: $light100;
    font-size: small;

    label {
      //padding: 5px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  input, select, button {
    margin: 5px;
  }

  input, select {
    background-color: $dark90;
    color: $light100;
  }
}


.control-buttons{
  display: flex;
  justify-content: space-evenly;
  button{
    padding: 5px 5%;
  }
}
