@import "../../../../styles/inputs";
@import "../../../../styles/colors";
@import "../../../../styles/buttons";
@import "../../../../styles/selects";

.post-information {
  width: 96% ;
  padding:  1%;
 // margin: auto;
  border-radius: 10px;
  border: .1px solid rgba(0,0,0,.2);
  .saveBtn {
    display: flex;
    justify-content: center;

    .SaveVideoDataBtn {
      @include AdminBluetBtn;
      padding: 5px 20px;
      font-size: large;
      border-radius: 5px;
    }
  }

  .VideoInformationSection ,.post-information-section {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;

    .title {
      padding: 2px;
      font-size: small;
      @media only screen and (min-width: 768px) {
        font-size: medium;
      }
    }

    .editor {
      width: 100%;
      iframe {
        width: 100%;
        height: auto;
        @media only screen and (min-width: 768px) {
          width: 100%;
          min-height:400px;
        }
      }
      img{
        width: 240px;
        height: auto;
        @media only screen and (min-width: 768px) {
          width: 100%;
          min-height:400px;
        }
      }
      .option {
        display: flex;
        align-items: center;
      }

      select {
        @include AdminSelect;
      }

      .textInput {
        @include inputNormalWithRadius;
        background-color: $AdminBackground50;
        width: 90%;
      }

      .textInputWithUpload {
        @include inputNormalWithRadius;
        background-color: $AdminBackground50;
        width: 80%;

      }

      .TextInput {
        @include inputNormalWithRadius;
        background-color: $AdminBackground50;
        width: 90%;

      }

      .uploadBtn {
        @include AdminLightBtn;
        margin: 0 3px;
        border-radius: 5px;
      }

      .textareaInput {
        @include inputNormalWithRadius;
        background-color: $AdminBackground50;
        width: 90%;
        min-height: 200px;
      }
    }
  }



}