.widget-open-control{
  .widget-open-control-group{
    svg{
      width: 25px;
      height:  25px;
      margin: 0 5px;
      color:white
    }
    .widget-open-control-page{
      svg{
        width: 25px;
        height:  25px;
        margin: 0 5px;
        color:white
      }
    }
  }
}