.uploadPageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-text-color, #fff);
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  .editPostForm {
    width: 100%;

    .formSection {
      width: 100%;
      .descriptionHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }


    }

    .mainFields {
      .description {
        min-height: 400px;
      }
    }

    .sidebarField {
      .postInformation{
        display: flex;
        flex-direction: column;
      }
    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1rem;
    button {
      font-size: .8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 768px){
  .uploadPageContent {
    .editPostForm {
      max-width: 1323px;
      display: grid;
      grid-template-columns: 1fr 325px;
      grid-gap: 8px;
    }
  }


}