@import "../../../styles/buttons";
@import "../../../styles/colors";

.SideBar{
  position: fixed;
  left: 0;
  top: 40px;
  grid-area: adminSideBar;
  min-height: 100vh;
  width: 200px;
  background-color: $AdminColor100;
  padding:10px;
}


@media only screen and (min-width: 768px) {
  .SideBar{
    position: initial;
  }
}