@import "../../../styles/buttons";
@import "../../../styles/colors";

.SideBar{
  position: fixed;
  left: 0;
  top: 40px;
  grid-area: adminSideBar;
  min-height: 100vh;
  width: 160px;
  background-color: $AdminColor100;
  padding:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .SideBarItem{
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 5px 10px;

    transition: .5s;
    font-size: large;
    margin: 5px ;
    &:hover{
      background-color: $AdminBackground50;
      color: $AdminColor100;
      font-weight: bold;
    }
    &:active{
      background-color: yellow;
    }
  }
}


@media only screen and (min-width: 768px) {
  .SideBar{
    position: initial;
  }
}