#FileManagerControl {
  margin: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  .file-Manager-control-address-bar {
    display: flex;
    justify-content: flex-start;
  }

  .file-Manager-control-quick-access {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
  }
}