.PostInformation {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--secondary-background-color, #181818);
  color: var(--secondary-text-color, #ccc);

  //.primaryInput {
  //  box-sizing: border-box;
  //}

  //.VideoInformationSection, .post-information-section {
  //  display: grid;
  //  grid-template-columns: 200px 1fr;
  //  align-items: center;
  //  padding: 8px;
  //  box-sizing: border-box;
  //
  //  .title {
  //    padding: 2px;
  //    font-size: small;
  //  }
  //
  //  .editor {
  //    outline: none;
  //    padding: 3px 5px;
  //    height: 30px;
  //    width: 90%;
  //  }
  //}
}