.check-out-item-preview {
  max-width: 300px;
  display: flex;
  align-items: center;
  border: solid 1px white;
  padding: 10px;

  .check-out-item-preview-title {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;

    .count-remove {
      display: flex;
      align-items: center;

      .check-out-item-remove {
        width: 50px;
        height: 40px;
        .check-out-item-remove-icon {
          padding: 2px 5px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  img {
    margin: 0 10px;
    width: 100px;
  }
}


@media only screen and (min-width: 768px) {
  .check-out-item-preview {
    width: 60vw;
    max-width: 600px;
    padding: 25px;
  }

}