@import "../../../../styles/buttons";
@import "../../../../styles/colors";
@import "../../../../styles/mixIns";
.HeaderTable {
  tr {
    padding: 5px;
    background-color: $light100;
    //@include tableGrid;
    align-items: center;
    //display: grid;
    //grid-template-columns: 15% 1fr;
    @include postsTableGridMobile;
    .HeaderTableItem {
      max-width: 100px;
      font-size: small;
    }

    .hiddenOnMobile {
      display: none;
    }
  }

}

@media only screen and (min-width: 768px) {
  .HeaderTable {
    tr {
      @include postsTableGridDesktop;
      .hiddenOnMobile {
        display: initial;
      }
    }

  }
}