.card-duration{
  position: absolute;
  bottom: 2px;
  right: 2px;
  overflow: hidden;
  padding: 2px 4px;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  border-radius: 0.25rem;
}