@keyframes navigationMobileSlide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes userMenuSlide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes searchbarFall {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}


@keyframes glowActiveColorAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--glow-color-start); /* Adjust the color and spread as needed */
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--glow-color-end); /* Adjust the color and spread as needed */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--glow-color-start); /* Adjust the color and spread as needed */
  }
}

