@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./buttons";
@import "./forms";
@import "./ainimations";
@import "./scrollbars";
@import "./gridLayouts";

:root {
  --primary-text-color: #fff;
  --secondary-text-color: #b3b3b3;
  --tertiary-text-color: #8c8c8c;
  --primary-background-color: #000;
  --secondary-background-color:#181818;
  --tertiary-background-color: #404040;

  --dim-background-color: rgba(0, 0, 0, .6);
  --primary-active-color: #f90;
  --primary-secondary-color: #6c757d;
  --primary-gradiant: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .6));

  /*sidebar size*/
  --sidebar-desktop-width: 320px;
  /*borders*/
  --default-border-color: rgba(138, 145, 158, .2);
  --default-border: solid var(--default-border-color, #ccc) .2px;
  /*buttons*/
  --primary-button-link-background-color: #f90;
  --primary-button-link-text-color: #000;

  --secondary-button-link-background-color: #6c757d;
  --secondary-button-link-text-color: #fff;

  --success-button-link-background-color: #28a745;
  --success-button-link-text-color: #fff;

  --danger-button-link-background-color: #dc3545;
  --danger-button-link-text-color: #fff;

  --warning-button-link-background-color: #f90;
  --warning-button-link-text-color: #212529;

  --info-button-link-background-color: #117a8b;
  --info-button-link-text-color: #fff;

  --dark-button-link-background-color: #1b1b1b;
  --dark-button-link-border-color: #1b1b1b;
  --dark-button-link-text-color: #fff;

  --light-button-link-background-color: #f8f9fa;
  --light-button-link-border-color: #f8f9fa;
  --light-button-link-text-color: #212529;
}

body.light {
  --primary-text-color: #222222;
  --secondary-text-color: #4A4A4A;
  --tertiary-text-color: #757575;
  --primary-background-color: #F2F2F2;
  --secondary-background-color: #E0E0E0;
  --tertiary-background-color: #C8C8C8;
}

body {
  color: rgb(var(--primary-text-color,#fff));
  background-color: var(--primary-background-color,#000);
  font-family: Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}

//body::-webkit-scrollbar {
//  width: 10px;
//}
//body::-webkit-scrollbar-thumb {
//  background-color: var(--primary-text-color,#2b2b2b);
//  border-radius: 2px;
//}
//body::-webkit-scrollbar-track {
//  background-color: var(--secondary-background-color,#2b2b2b);
//
//}


a {
  color: var(--secondary-text-color,#b3b3b3);
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  &:hover{
    color: var(--primary-active-color,#f90);
  }
}

//p,textarea,ol,svg{
//  color: var(--primary-text-color,#fff);
//}


// WIDGET AREAS
.main-widget-area{
  background-color: var(--primary-background-color,#2B2B2B);
  color:var(--primary-text-color,#fff);
  width: 100%;
  //padding: 8px 0;
  box-sizing: border-box;
}





#content{
  padding: 0 ;
}

@media only screen and (min-width: 600px) {
  #content{
    //padding: 0 .25rem;
    box-sizing: border-box;
  }
}

.inner-content{
  //max-width: 1323px;
  margin: auto;
}

.dimFullScreen{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

