@use './gridLayouts' as gridLayouts;
@use './widgetAreas.styles' as widgetAreas;
@use './defaultBody' as defaultBody;
@use './defaultColors' as defaultColors;
@use './ainimations' as ainimations;
@use './buttons' as buttons;
@use './forms' as forms;
@use './inputs' as inputs;
@use './scrollbars' as scrollbars;
@use './selects' as selects;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--primary-text-color, #fff);
  background-color: var(--primary-background-color, #000);
  font-family: Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}


a {
  color: var(--secondary-text-color, #b3b3b3);
  text-decoration: none;
  box-sizing: border-box;
  outline: none;

}

.smallText {
  font-size: .7rem;
}

//// WIDGET AREAS
//.main-widget-area {
//  background-color: var(--primary-background-color, #2B2B2B);
//  color: var(--primary-text-color, #fff);
//  width: 100%;
//  //padding: 8px 0;
//  box-sizing: border-box;
//}


//.desktopOnly {
//  display: none !important;
//}
//
//.mobileOnly {
//  display: initial !important;
//}

.darkenBackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.glassBackground {
  //border-radius: 50%;
  //margin-top: 8px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: var(--yt-spec-static-overlay-background-medium-light, rgba(0, 0, 0, .3));
  text-shadow: 0 0 2px #000;
}

//.darkenBackgroundVisible {
//  display: initial;
//}

//.darkenBackgroundHidden {
//  display: none;
//}
//
//@media only screen and (min-width: 600px) {
//  #content {
//    box-sizing: border-box;
//  }
//}


//@media only screen and (min-width: 768px) {
//  .desktopOnly {
//    display: initial !important;
//  }
//  .mobileOnly {
//    display: none !important;
//  }
//}