$layoutSectionsGap: 4px;

#page {
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;

  #content {
    display: grid;
    grid-area: page;
    padding: 0;
    #primary {
      grid-area: primary;
    }
  }

  .page-both-sidebar, .page-no-sidebar, .page-left-sidebar, .page-right-sidebar {
    grid-template-columns: 1fr;
  }

  .page-both-sidebar {
    grid-template-areas: 'primary'
                         'left-sidebar'
                         'right-sidebar';
  }

  .page-no-sidebar {
    grid-template-areas: 'primary';
  }

  .page-left-sidebar {
    grid-template-areas: 'primary'
                        'left-sidebar';
  }

  .page-right-sidebar {
    grid-template-areas: 'primary'
                        'right-sidebar';
  }
}

@media only screen and (min-width: 768px) {
  #page {
    width: 100%;
    padding: 0 ;

    #content {
      width: 100%;
      height: 100%;
      grid-area: page;

      #primary {
        grid-area: primary;
        width: 100%;
      }
    }

    .page-both-sidebar {
      grid-template-columns: var(--sidebar-desktop-width, 200px) 1fr var(--sidebar-desktop-width, 200px);
      grid-template-rows: 1fr;
      grid-gap: $layoutSectionsGap;
      grid-template-areas: 'left-sidebar primary right-sidebar';
    }

    .page-no-sidebar {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: $layoutSectionsGap;
      grid-template-areas: 'primary';
    }

    .page-left-sidebar {
      grid-template-columns: var(--sidebar-desktop-width, 200px) 1fr;
      grid-template-rows: 1fr;
      grid-gap: $layoutSectionsGap;
      grid-template-areas: 'left-sidebar primary';
    }

    .page-right-sidebar {
      grid-template-columns: 1fr var(--sidebar-desktop-width, 200px);
      grid-template-rows: 1fr;
      grid-gap: $layoutSectionsGap;
      grid-template-areas: 'primary right-sidebar';
    }
  }
}












@media only screen and (min-width: 1700px){
  .innerContent {
    width: 90%;
  }
}