.primaryInput{
  width: 100%;
  display: block;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  border: var(--primary-border);
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-sizing: border-box;
  min-height: 50px;
}


@media only screen and (min-width: 768px){
  .primaryInput{
    min-height: initial;
  }
}