.chatroomOnlineUsersList{
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 50px;
  width: 200px;
  border-left:var(--default-border);
  padding: 4px;
  box-sizing: border-box;
  grid-area: chatroomOnlineUsersList;
  background-color: var(--secondary-background-color, #181818);
  overflow-y: auto;
  //.user-list {
  //  //position: -webkit-sticky;
  //  //position: sticky;
  //  //top: 0;
  //  //flex-grow: 1;
  //  //max-height: 100vh;
  //
  //}
}