.shopping-card-button{
  position: relative;
  padding:  0 3px;
  text-decoration: none;
  border: none;
  background-color: transparent;

  .shopping-card-number{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 0;
    right: 0;
    border-radius: 30%;
    padding: 1px 2px;
  }
  svg{
    transition: .5s;
    margin: 0 5px;
    &:hover{
      transform: scale(1.2);
    }
  }

}