@import "../../../../styles/inputs";
@import "../../../../styles/colors";

.title-description {
  //display: flex;
  //flex-direction: column;
  //margin: auto;
  //padding: 10px;
  width: 98%;
  padding:  1%;
  margin: auto;

  .quill {
    width: 100%;
    //padding:  1%;
    margin-left: -1%;
  }

  .TitleDescriptionTitle {
    @include inputNormalWithRadius;
    width: 98% ;
    padding: 0 1%;
    background-color: $light100;
    border: .1px solid rgba(0,0,0,.2);
  }

  .TitleDescriptionDescription {
    margin-top: 10px;
    min-height: 600px;
    @include inputNormalWithRadius;
    width: 95%;
    background-color: $light100;
  }
  .editor-switcher{
    margin-top: 10px ;
    button{
     outline: none;
      margin: 0 5px;
      padding: 5px 10px ;

    }
  }
  .text-editor{

    .container{
      //min-height: 600px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .TitleDescription {

  }

}