.ImagesSliderTypeWidgetModelFields{
  margin: 5px auto;
  padding: 2px;
  border-top: #fff solid;
  border-bottom: 1px #fff solid;
  width: 100%;

  .primaryInput {
    width: 70%;
  }

  form {
    .image-Swiper-fields-form-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .primaryInput {
        width: 70%;
      }
    }

  }

  .added-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .current-data-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 220px;
      border: 1px white solid;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;

      img {
        width: 200px !important;
        object-fit: contain;

      }

      p {
        padding: 2px;
        margin: 2px;
        align-self: flex-start;
        display: flex;
        align-items: center;
      }

      .index {
        display: flex;
        align-items: center;

        button {
          margin: 0 5px;
        }
      }
    ;
    }
  }
}