.imageList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;


  .imageItem {
    position: relative;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--tertiary-background-color);
    padding: .5rem;

    .imageActionButtons {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--dim-background-color);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    img {
      width: 120px;
      height: auto;

    }

  }
}