@import "../../../../styles/colors";
.WidgetHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px ;
  background-color: $AdminColor80;

  border-radius: 5px;
  border-left: 5px solid $linkBlueColor;
  max-height: 50px;
  .WidgetHeaderTitle{
    padding: 0 10px;
  }
  a{
    color: $light100;
    background-color: $red50;
    padding: 5px 10px;
    border-radius: 5px;
  }
}