@import "../../../../styles/colors";
.widget-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px ;

  border-radius: 5px;
  border-left: 5px solid ;
  max-height: 30px;
  .widget-header-title{
    font-weight: initial;
    font-size: 16px;
    padding: 0 10px;
  }
  a{
    padding: 3px 5px;
    border-radius: 5px;
  }
}

