@import "../../../../styles/colors";
.WidgetHeader{
  display: flex;
  background-color: $AdminColor80;
  border-radius: 5px;
  border-left: 5px solid $linkBlueColor;
  .WidgetHeaderTitle{
    padding: 0 10px;
  }
}