@import "../../styles/colors";

.admin-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'admin-topbar' 'admin-content' 'admin-footer'
}

.Admin {
  grid-area: admin-content;
  background-color: $AdminBackground50;
  color: black;
  min-height: 100%;
  float: left;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media only screen and (min-width: 768px) {
  .admin-container {

    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-areas: 'admin-topbar admin-topbar' 'adminSideBar admin-content' 'admin-footer admin-footer';
    .Admin{
      padding: 10px;
    }
  }
}

.blurArea {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

#access-denied-admin{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    a{
      color: white;
    }
  }
}