.PostByUserSettings{
  display: flex;
  flex-direction: column;

  .checkboxFieldItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .checkboxFieldItem {
      //display: grid;
      //grid-template-columns: 1fr 1fr 3fr 3fr 3fr;
      //align-items: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .checkboxFieldItemSection {
        display: flex;
        align-items: center;
        align-content: flex-start;
        height: 100%;
        width: 200px;
        p {
          place-items: flex-start;
          margin: 0 .5rem;
        }

        input {
          max-width: 4rem;
        }
      }

    }
  }
}