.user-info-profile-button-image {
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
}

.user-info-profile-button-icon {
  cursor: pointer;
  color: var(--secondary-text-color,#b3b3b3);
}