.widget-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  //max-width: 100vw;
  //min-width: 0;
}

//.widget{
//  max-width: 100vw;
//  min-width: 0;
//}

.widget-self-right{
  justify-self: end;
}