@use '@components/global/styles/cardsLayout' as cardsLayout;

.loadingPageSkeleton{
  .loadingPageSkeletonBox{
    display: block;
    span{
      @include cardsLayout.MixinCardWrapper;
      .loadingPageSkeletonBoxInnerItemContent{
        //max-width: 280px;
        border-radius: 0.375rem;
        margin:0;
        padding:0;
        aspect-ratio: 16/9;
      }
      br{
        display: none;
      }
    }
  }
}



//display: grid;
//grid-gap: 8px;
//justify-content: center;
//align-items: center;
//padding: .5rem 0;
//width: 100%;
//
//
//grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
//
//@media only screen and (min-width: 601px) and (max-width: 768px) {
//  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
//}
//
//@media only screen and (min-width: 769px) and (max-width: 1024px) {
//  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//}
//
//@media only screen and (min-width: 1025px) and (max-width: 1280px) {
//  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
//}
//
//
//
//@media only screen and (min-width: 1441px) {
//  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
//}