@import "../../../../styles/colors";

.search-bar {
  display: flex;
  align-items: center;
  //border: solid 1px #222;
  height: 24px;
  //.search-input, .search-bar-btn {
  //  display: inline-block;
  //  height: 24px;
  //  padding: 2px 5px;
  //  font-size: medium;
  //  outline: none;
  //
  //}

  .search-input {
    display: flex;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    border: 1px solid lightgray;
    //height: 23px;

    width: 80%;
  }

  .search-bar-btn {
    border-radius: 0 5px 5px 0;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    background-color: transparent;
    .search-bar-btn-logo {
      //font-size: 20px;
      width: 20px;
      height: 20px;

    }
  }
}