@import "../../../../styles/colors";

.search-bar {
  display: flex;
  align-items: center;

  .search-input, .search-bar-btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: medium;
  }

  .search-input {
    border-radius: 5px 0 0 5px;
    border: 1px solid lightgray;
    height: 30px;
  }

  .search-bar-btn {
    border: 1px solid $dark80;
    border-radius: 0 5px 5px 0;

    .search-bar-btn-logo {
      font-size: 20px;
      width: 25px;
      height: 30px;
    }
  }
}