@import "../../../../styles/colors";

.search-bar {
  display: flex;
  height: 24px;
  width: 100%;
  font-size: 1em;
  .search-input {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-right: 0;
    //border-radius: 0.6em 0 0 0.6em;
    border-radius: 3px 0  0  3px;
    &:focus{
      outline: none;
    }
  }

  .search-bar-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    padding: 0.2em;
    margin-left: 0;
    border-radius: 0 3px 3px 0;
    border: none;
    &:focus{
      outline: none;
    }
    &:active{
      border: none;
    }
  }
}

.search-bar-btn-close,.search-bar-btn-open{
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  background-color: transparent;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .search-bar{
    .search-input{
      max-width: 500px;
    }
    .search-bar-btn{
      max-width: 70px;
    }
  }
}