@import "../../../styles/colors";
.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  max-width:90%;
  padding: 5px;



  .comments-item {
    padding: 5px 10px;
    border-radius: 12px;
    min-width: 250px;
    text-align: left;
    margin: 5px;
    position: relative;
    .comment-triangle{
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      z-index: -1;
      border-left: 60px solid transparent;
    }
    .comment-author{
      color:var( --main-blue-color);
    }
    .comment-date{
      color:var( --main-red-color);
    }
    .comment-body{
      color: var(--main-text-color);
    }
  }
}