@mixin videoContentGridDesktop {

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;

}
@mixin tabletContentGridDesktop {

  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  //margin: auto;

}

@mixin videoContentGridList {

  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

@mixin postsContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  @media only screen and (min-width: 768px) {
    @include tabletContentGridDesktop;
  }
  @media only screen and (min-width: 1200px) {
    @include videoContentGridDesktop;
  }

}

@mixin gridContent {
  grid-gap: 10px;
  margin: auto;
  display: grid;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1366px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1760px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1920px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  @media only screen and (min-width: 2400px) {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  @media only screen and (min-width: 2900px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  @media only screen and (min-width: 3100px) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}

@mixin settings-general {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

@mixin adminDesignPageItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

@mixin navigationSettingItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

@mixin fileManagerItemsBig {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}


@mixin assetTable {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}