@mixin videoContentGridDesktop {

  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

@mixin videoContentGridList {

  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;

}
@mixin videoContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 10px;

  @media only screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

  }

  @media only screen and (min-width: 1024px) {
    @include videoContentGridDesktop;
  }

}

@mixin categoryPageElements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
@mixin tagsPageElements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
@mixin actorsPageElements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
@mixin settings-general {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}


@mixin adminDesignPageItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
@mixin navigationSettingItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

@mixin fileManagerItemsBig {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}