@mixin postsTableGridDesktop {
  display: grid;
  grid-template-columns: 3% 10% 12% 17% 17% 10% 7% 1fr;
  grid-gap: 5px;
};

@mixin postsTableGridMobile {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 5px;
}

@mixin imageForMetaElements{
  img{
    width: 100%;
    height: 150px;
    border: $dark90 1px solid  ;
    display: block;
    object-fit: cover;
  }
}