@import "./colors";

@mixin transparentLightTextBtn {
  background-color: transparent;
  color: $light100;
  outline: none;
  border: none;
}

;

@mixin greenActionBtn {
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  //border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  width: 200px;
  height: 40px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  line-height: 126%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

@mixin redBtn {
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  //border: 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  width: 200px;
  height: 40px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  line-height: 126%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

;

@mixin AdminLightBtn {
  background-color: $AdminBackground50;
  color: black;
  outline: none;
  border: .4px $AdminColor20 solid;
  padding: 8px 10px;
  border-radius: 5px;
  &:active{
    background-color: white;
    border:none;
  }
};

@mixin AdminBluetBtn {
  background-color: $lightBlue;
  color: white;
  outline: none;
  border: none;
  padding: 8px 10px;
}

@mixin buttonLikeLink{
  border: none;
  color: $linkBlueColor;
  background: transparent;
}

@mixin adminMainBtn {
   border: 1px solid rgba(0,0,0,.1);
   padding: 3px 5px;
}
@mixin adminMainInput {
   border: 1px solid rgba(0,0,0,.1);
   padding: 3px 5px;
  background-color: $light100;
}

