//Colors
$dark100 : black;
$dark90:#181818;
$dark80:#282828;

$red50:#FF3565;
$lightBlue:#0085ba;

$AdminColor100:#24282d;
$AdminColor80:#33373c;
$AdminColor20:#9fa3a8;

$AdminBackground50:#f1f1f1;

//textColors
$light100:white;

$linkBlueColor : #0073aa;