:root {
  --admin-text-color: #fff;
  --admin-darkcolor:#1b1b1b;
  --admin-darkcolor70:#33373c;
  --admin-darkcolor80:#282828;
  --admin-darkcolor90:#181818;
}

//components

//@import "../components/adminIncludes/widgetsModel/AddWidgetMenu/AddWidgetMenu";
//@import "../components/adminIncludes/widgetsModel/AddWidgetMenu/AddWidgetWithPositionMenu";
//@import "../components/adminIncludes/widgetsModel/WidgetModel/widgetsModel";
@import "../components/adminIncludes/commentsPageComponents/AdminCommentsControl/AdminCommentsControl";
@import "../components/adminIncludes/commentsPageComponents/AdminRenderComments/AdminRenderComments";
@import "../components/adminIncludes/commentsPageComponents/AdminRenderComments/AdminCommentItem/AdminCommentItem";
@import "../components/adminIncludes/FileManagerComponents/UploadedPopView/UploadedPopView";
@import "../components/adminIncludes/TopBar/AdminTopBar";
@import "../components/adminIncludes/TopBar/NewItemMenu/NewItemMenu";
@import "../components/adminIncludes/TopBar/AdminActionMenu/AdminActionMenu";
@import "../components/adminIncludes/widgetsModel/WidgetModel/widgetsModel";
@import "../components/adminIncludes/TextEditor/TextEditor";
@import "../components/adminIncludes/AdminFooter/AdminFooter";
@import "AdminStyle";
//page
@import "../pages/admin/settings/settings";
@import "../pages/admin/page/page";
@import "../pages/admin/design/design";
@import "../pages/admin/settings/customStyles/customStyles";
@import "../pages/admin/settings/customScript/customScript";
@import "../pages/admin/post/post";
@import "../pages/admin/meta/meta";
@import "../pages/admin/translate/translate";
@import "../pages/admin/design/widgets/widgets";
@import "../pages/admin/design/customStyles/customStyles";
@import "../pages/admin/form/form";
@import "../pages/admin/design/background/background";
@import "../pages/admin/user/user";
@import "../pages/admin/importer/youtube/youtube";
@import "../pages/admin/settings/eCommerceSettings/eCommerceSettings";
@import "../pages/admin/tools/terminal/terminal";
@import "../pages/admin/tools/tools";



