@import "./links";
@import "./buttons";
@import "./colors";
@import "./mixIns";

body {
  margin: 0;
  //font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #__next{
    min-height: 100vh;
  }
}



.newPostLinkAdminPanel{
  @include linkLikeActionBtnAdmin;
}

.svgImage {
  fill: white !important;
  background-color: white;
  color: white;
}

.fontawesomeMedium {
  font-size: x-large;
  color: $light100;
}

.fontawesomeSmall {
  font-size: medium;
}

.fontawesomeLarge {
  font-size: xx-large;
}

.fontawesomeSvgMedium {
  width: 30px;
  height: 40px;
  filter: invert(1);
}
.fontawesomeSvgLarge {
  width: 40px;
  height: 50px;
  filter: invert(1);
}

.fontawesomeSvgSmall {
  width: 20px;
  height: 30px;
  filter: invert(1);
}
.fontawesomeSvgVerySmall {
  width:12.5px;
  height: 20px;
  filter: invert(1);
}

.small-info{
  font-size: x-small;
}

.saveBtn{
  @include greenActionBtn;
  margin: 50px 0;
}


input:focus, textarea:focus, select:focus {
  outline: none;
}

input, textarea, select {
  border: none;
  background-color: $AdminBackground50;
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}



// content with sidebar or without
.withSidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:1px;
  grid-template-areas: 'content' 'sidebar';
  @media only screen and (min-width: 1024px) {
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
  }
}

.withOutSidebar {
  display: grid;
  grid-template-columns: 1fr;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr;
  }
}


.error-page{
  display: flex;
  justify-content: center;
  .error-page-message{
    color: white;
    margin: 100px 0;
  }
}



svg{
  background-color: transparent;
}


