@import "../components/adminIncludes/PostComponents/ActionOnPost/ActionOnPost",
"../pages/admin/settings/settings",
"../components/adminIncludes/PostComponents/DropDownWidget/DropDownWidget",
"../components/adminIncludes/PostComponents/Format/Format",
"../components/adminIncludes/PostComponents/PostCategoriesTagsActors/PostCategoriesTagsActors",
"../components/adminIncludes/PostComponents/TitleDescription/TitleDescription",
"../components/adminIncludes/PostComponents/VideoInformation/VideoInformation",
"../components/adminIncludes/PostsComponents/Filters/FilterDropDownActions",
"../components/adminIncludes/PostsComponents/Filters/FilterPagination",
"../components/adminIncludes/PostsComponents/Filters/Filters",
"../components/adminIncludes/PostsComponents/Filters/FilterSearch",
"../components/adminIncludes/PostsComponents/Filters/FilterStatusBtn",
"../components/adminIncludes/PostsComponents/PostsDataTable/BodyTable",
"../components/adminIncludes/PostsComponents/PostsDataTable/HeaderTable",
"../components/adminIncludes/PostsComponents/PostsDataTable/PostsDataTable",
"../components/adminIncludes/SideBar/SideBar",
"../components/adminIncludes/TopBar/AdminTopBar",
"../components/adminIncludes/TopBar/NewItemMenu/NewItemMenu",
"../components/adminIncludes/TopBar/AdminActionMenu/AdminActionMenu",
"../components/adminIncludes/widgetsModel/widgetsModel",
"../components/includes/Header/Header",
"../components/includes/CategoryElement/CategoryElement",

"../components/includes/ActorElement/ActorElement",
"../components/includes/Logo/Logo",
"../components/includes/Header/Navigation/Navigation",
"../components/includes/Loading/Loading",
"../components/includes/Pagination/Pagination",
"../components/includes/Posts/Posts",
"../components/includes/CommentsRenderer/CommentsRenderer",
"../components/includes/Sidebar/Sidebar",
"../components/includes/PaginationComponent/PaginationComponent",
"../components/includes/ProgressBar/ProgressBar",
"../components/includes/TopBar/TopBar",
"../components/includes/VideoElement/VideoElement",
"../components/includes/Widget/Widget",
"../components/includes/Widget/WidgetFooter/WidgetFooter",
"../components/includes/Widget/WidgetHeader/WidgetHeader",
"../components/layouts/AdminLayout",
"../components/layouts/AppLayout",
"../pages/auth/registerLogin",
"../pages/admin/post/post",
"./colors",
"../pages/index",
"../pages/page/categories/categories",
"../pages/page/tags/tags",
"../pages/page/actors/actors",
"../pages/post/Post.scss",
"../pages/posts/Posts.scss";

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






