.post-page{
  padding: 8px;
  box-sizing: border-box;
}

.entry-header-actions{
  //background-color: var(--secondary-background-color,#2b2b2b);
  border-bottom: var(--default-border);
  padding: 8px;
  border-radius: 5px;

}




@media only screen and (min-width: 600px){

}