.Logo{
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  width: 90%;
  padding: 30px 0;

  .logoText{
    font-size: xx-large;
  }

  .headLine{

  }

  img{
    border: 1px white solid;
    width: 180px;
  }
}





@media only screen and (min-width: 768px) {
  .Logo{

    img{
      border: 1px white solid;
      width: 300px;
    }
  }

}