@import "../../../../../styles/colors";
@import "../../../../../styles/inputs";
@import "../../../../../styles/buttons";
.text-input-with-upload-button{
  width: 100%;
  background-color: $light100;
  .editor{
    display: flex;
    width: 100%;
    .textInputWithUpload,textarea,input{
      @include inputNormalWithRadius;
      background-color: $AdminBackground50;
      width: 100%;
    }
    .upload-file-btn {
      button{
        width: 100%;
      }

    }
  }
}