#BackToTopButton {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  background-color: var(--primary-active-color, #f90);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 11;

  span {
    display: flex;
    color: var(--primary-background-color, #000);
  }
}