@import "../../../../styles/buttons";
@import "../../../../styles/colors";

.AdminActionMenu {
  background-color: $AdminColor80;
  position: fixed;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .AdminActionMenuItem {
    @include transparentLightTextBtn;
    padding:10px;
  }
}