.lettersWrapper {
  width: 100%;
  .rangeControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;
    padding: .25rem;

    .rangeItemOpenBtn, .rangeActiveItem {
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
    }
    .rangeItemOpenBtn {
      width: 100%;
      //display: none;
    }
  }


  .lettersItems {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;

    .rangeItem {
      width: 48px;
      height: 48px;
      display: none;
      justify-content: center;
      align-items: center;
    }
    .activeItem{
      background-color: var(--primary-active-color);
      color: var(--primary-background-color);
    }
  }
}

@media only screen and (min-width: 768px) {
  .lettersWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .rangeControls {
      .rangeItemOpenBtn {
        display: none;
      }
    }
    .lettersItems {
      justify-content: center;

      .rangeItem {
        display: flex !important;
      }
    }
  }
}
