.lettersWrapper {
  width: 100%;

  .alphabeticalRangeControls {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding: 4px 2px;

    .alphabeticalRangeItemOpenBtn, .alphabeticalRangeActiveItem {
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
    }

    .alphabeticalRangeItemOpenBtn {
      display: none;
    }

  }


  .lettersItems {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    .alphabeticalRangeItem {
      width: 48px;
      height: 48px;
      display: none;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .lettersWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .alphabeticalRangeControls {

    }

    .lettersItems {
      justify-content: center;

      .alphabeticalRangeItem {
        display: flex !important;
      }
    }
  }
}


//.lettersWrapperOpen {
//  .alphabeticalRangePreviewItem {
//    grid-column: 1 / -1;
//    width: 100px;
//    place-self: center;
//    font-weight: bold;
//    font-size: 1.2rem;
//    border: var(--default-border);
//  }
//}
