@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #B3B3B3;
    --tertiary-text-color: #8C8C8C;
    --primary-background-color: #000;
    --secondary-background-color: #2B2B2B;
    --tertiary-background-color: #404040;

    --dim-background-color: rgba(0, 0, 0, .6);
    --primary-active-color: #f90;
    --primary-secondary-color: #6c757d;
    --primary-gradiant: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .6));

    /*buttons*/
    --primary-button-link-background-color: #f90;
    --primary-button-link-text-color: #000;

    --secondary-button-link-background-color: #6c757d;
    --secondary-button-link-text-color: #fff;

    --success-button-link-background-color: #28a745;
    --success-button-link-text-color: #fff;

    --danger-button-link-background-color: #dc3545;
    --danger-button-link-text-color: #fff;

    --warning-button-link-background-color: #f90;
    --warning-button-link-text-color: #212529;

    --info-button-link-background-color: #117a8b;
    --info-button-link-text-color: #fff;

    --dark-button-link-background-color: #1b1b1b;
    --dark-button-link-border-color: #1b1b1b;
    --dark-button-link-text-color: #fff;

    --light-button-link-background-color: #f8f9fa;
    --light-button-link-border-color: #f8f9fa;
    --light-button-link-text-color: #212529;
}

body.light {
    --primary-text-color: #222222;
    --secondary-text-color: #4A4A4A;
    --tertiary-text-color: #757575;
    --primary-background-color: #F2F2F2;
    --secondary-background-color: #E0E0E0;
    --tertiary-background-color: #C8C8C8;
}

body {
  color: rgb(var(--primary-text-color));
  background-color: var(--primary-background-color)
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

