.post-swiper {
  //position: relative;
  .swiper-wrapper {

    .swiper-slide {
      margin: auto;
      display: flex;
      justify-content: center;

      a {
        margin: auto;

        .post-slider-item-title {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
          display: block;
          max-width: 95%;
          font-size: small;
        }

          .post-slider-item-external-image {
            object-fit: contain;
          }
          .post-slider-item-internal-image {
            object-fit: contain;

          }


        div {
          margin: auto;
          .post-slider-item-internal {
            margin: auto;
            object-fit: scale-down;
          }
        }


      }


    }
  }
}

//@media only screen and (min-width: 768px) {
//  .post-swiper {
//    max-width: 80vw;
//  }
//
//}