.post-swiper {
  //position: relative;
  .swiper-wrapper {

    .swiper-slide {
      margin: 0 20px;
      display: flex;
      justify-content: center;
      place-items: center;
      a {
        //margin: auto;

        .post-slider-item-title {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
          display: block;
          max-width: 95%;
          font-size: small;
        }

          .post-slider-item-external-image {
            min-width: 20vw;
            object-fit: contain;
          }
          .post-slider-item-internal-image {
            min-width: 20vw;
            object-fit: contain;

          }


        div {
          margin: auto;
          .post-slider-item-internal {
            margin: auto;
            object-fit: scale-down;
          }
        }
        h3{
          width: 255px;
          max-width: 95vh;
        }

      }


    }
  }
}

@media only screen and (max-width: 768px) {
  .post-swiper {
    width: 100vw;
    place-items: center;
    .swiper-wrapper {
      place-items: center;

      .swiper-slide {
        margin: 0 ;
        place-items: center;
        width: 100vw;
        a{
          width: 100%;
          display: grid;
          place-items: center;
          .post-slider-item-external-image,.post-slider-item-internal-image {
            width: 100%;
            object-fit: contain;
          }
        }
      }

    }


  }

}